
html,body{
    margin: 0px;
    height: 100%;
    font-family: 'Lato'
}

/* ==|== Fonts =====================================================
   Author: Diego Bechi
   ========================================================================== */

@font-face {
    font-family: 'windsong';
    src: url('../font/Windsong.eot?') format('eot'), 
         url('../font/Windsong.woff') format('woff'), 
         url('../font/Windsong.ttf')  format('truetype'),
         url('../font/Windsong.svg#Windsong') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'titillium';
    src: url('../font/titilliumweb-regular-webfont.eot');
    src: url('../font/titilliumweb-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/titilliumweb-regular-webfont.woff') format('woff'),
        url('../font/titilliumweb-regular-webfont.ttf') format('truetype'),
        url('../font/titilliumweb-regular-webfont.svg#titillium_webregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@import url(http://fonts.googleapis.com/css?family=Lato|Roboto:300,400);

.home-wrapper{
    height: 100%;
    left: 50%;
    margin-left: -47%;
    margin-right: auto;
    margin-top: 40px;
    padding-bottom: 50px;
    padding-top: 20px;
    position: absolute;
    width: 95%;
}

.home-head-buttons{
    display: block;
    height: 50px;
    padding-top: 10px;
    width: 100%;
    border-bottom: 1px solid #5555E4;
    margin-bottom: 24px;
}

.home-head-buttons ul.myselect-ul li {
    overflow: hidden;
}

.home-head-buttons ul.myselect-ul li p{
    float: left;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 120px;
    word-break: break-all;
    word-wrap: break-word;
}

#informe-nivel-inicial input[type="button"]{
    float: right;
    margin: -5px 0px;
}
#informe-nivel-inicial textarea{
    width: 98%;
    height: 100px;
}
#informe-nivel-inicial a,
#informe-nivel-inicial a:hover{
    text-decoration: none;
    color: #000;
}
.pt-perspective {
    position: relative;
    width: 100%;
    height: 80%;
    perspective: 1200px;
    margin-left: 7px;
    /*transform-style: preserve-3d;*/
}

.pt-page {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.pt-page-oh{
    overflow: hidden;
}
.pt-page-non{
    display: none;
}
.pt-page-current,
.no-js .pt-page {
    visibility: visible;
    height: 100%;
}

.no-js body {
    overflow: auto;
}
.pt-page-ontop {
    z-index: 999;
}   
.pt-page-1 {
    background: #F6F6F6;
    height: 100%;   
}
.pt-page-2 {
    background: #F6F6F6;
    height: 100%;   
}
.pt-page-3 {
    background: #F6F6F6;
    height: 100%;   
}
.formulario{
}

.columna-informacion-alumno{
    width: 50%;
    height: 90%;
    display: inline-block;
    float: left;
}

.box-generic{
    background-color: #FFFFFF;
    margin-bottom: 25px;
    border: 1px solid rgba(221,221,221,0.5);
}

.box-generic.bienvenido{
    box-shadow: 1px 1px 15px 1px #CCC;
    margin: 0 20px;
}

.box-generic h3{
    margin: 0px;
    padding: 10px 20px;
    font-size: 20px;
    line-height: 20px;
    background-color: #efefef;
    color: #62687e;
    border-bottom: 1px solid rgba(221,221,221,0.5);     
}

.columna-datos-personales-alumno{
    display: inline-block;
    width: 35%;
    height: 90%;
    float: left;        
    border-right: 2px solid;
}
.tab-content>.tab-pane{
    height: 100%;
}
.columna-foto-alumno{
    display: inline-block;
    width: 13%;
    height: 90%;
    float: left;
    margin-left: 5px;
}

.pagina-principal-informacion-alumno{
    height: 100%;
    width: 100%;
    margin-top: -5px;
}

.foto-perfil-datos-personales{
    width: 150px;
    height: 150px;
    border: 8px solid #000;
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    margin-top: 10px;   
}

.buttons-menu-container{
    float: right;
    margin-top: 10px;
    margin-right: 15px;
}

.nombre-usuario-singin{
    margin: 4px;
    float: right;
}

.login-menu-container{
    float: right;
    width: 230px;
    background-color: black;
    margin-top: -130px;
}

.login-menu-container .btn.btn-primary{
    margin-right: 37px;
    float: right;
    margin-bottom: 10px;
}

.login-menu-container .btn.btn-danger{
    margin-right: 37px;
    float: right;
    margin-bottom: 10px;
}

/*MENÚ*/

.menu-superior-general{
    width: 100%;
    height: 55px;
    background-color: black;
}

.label-menu-superior-general{
    font-family: 'Lato';
    font-size: 29px;
    font-weight: bold;
    color: white;
    float: left;
    float: left;
    margin: 11px 45px 9px 5px;
    line-height: 32px;
}

.menu-main{
    background-color: #063053;
    background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0.32, #063053), color-stop(0.66, #395873), color-stop(0.83, #5c7c99));
    background-image: -webkit-linear-gradient(#063053, #395873, #5c7c99);
    background-image: -moz-linear-gradient(top,#063053, #395873, #5c7c99);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#063053', endColorstr='#395873');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#063053', endColorstr='#395873')";
    background-image: -ms-linear-gradient(#063053, #395873, #5c7c99);
    background-image: -o-linear-gradient(#063053, #395873, #5c7c99);
    background-image: linear-gradient(#063053, #395873, #5c7c99);
    margin: 0 !important;
}

.menu-main li a {
    height: 76px;
    width: 110px;
    text-align: center;
    border-radius: 0;
    border: none;
    margin: 0;
    color: #FFFFFF;
    font-family: 'Lato';
    font-size: 16px;
    border-bottom: none;
}

.menu-main li img{
    width: 70px;
    display: block;
    margin: auto;
    margin-top: -12px;
    margin-bottom: -12px;
}

.menu-main li{
    border-left: 1px solid #BBB;
}

.menu-main .lastone{
    border-right: 1px solid #BBB;
}

.menu-main li a:hover{
    background-color: rgba(238, 238, 238, 0.45) !important;
    border: none;
    color: #FFFFFF !important;
    margin: 0;
}

.menu-main li.active a{
    background-color: rgba(238, 238, 238, 0.45) !important;
    color: #FFF !important;
    border: none !important;
    margin: 0;
}

menu#home-top-menu {
    float: left;
    padding-left: 0px;
}

.icono-escudo{
    width: 60px;
    float: left;
    margin: 10px;
}   

.header-menu{
    background-color: #000;
    color: #FFF;
}

#home-top-menu > ul {
    margin: 0;
    padding: 0;
    display: inline-flex;
}
#home-top-menu li {
    list-style: none outside none;
    margin-right: 2px;    
}
#home-top-menu a {
    color: rgb(2, 17, 97);
    padding: 13px 22px 15px;
    font-size: 15px;
    text-decoration: none;
    transition: all 0.5s;
    -moz-transition: all 0.5s; /* Firefox 4 */
    -webkit-transition: all 0.5s; /* Safari and Chrome */
    -o-transition: all 0.5s; /* Opera */
    border-right: 2px solid rgb(2, 17, 97);

}
#home-top-menu a.active, #home-top-menu a:hover  { 
    color: white;
    background-color: rgb(2, 17, 97);
    border-radius: 5px; 
}

#submenu-top-menu a{
    border-right: white;
    margin-left: -40px;
    padding: 0px;
    margin-right: 20px;
}

.home-menu-opciones{
    display: table-row;
    height: 49px;
    width: 100%;
    margin-bottom: 24px;
    background-color: white;
    float: left;
    position: fixed;
    margin-top: -5px;
    border-bottom: 1px solid #829EDF; 
    z-index: 9999;
    border-radius: 5px;
}

.home-submenu-opciones{
    margin-bottom: 24px;
    float: left;
    position: fixed;
    margin-top: 13px;
    display: none;
}

.lista:hover > .home-submenu-opciones {
    display: block;
}

.submenu-opcion {
    margin-left: -65px; 
    border-top: 2px solid rgb(2, 17, 97);
    border-left: 2px solid rgb(2, 17, 97);
    border-right: 2px solid rgb(2, 17, 97);
    padding-left: 60px;
    background-color: white;
    border-radius: 5px;
}

.submenu-opcion:hover{
    color: white;
    background-color: rgb(2, 17, 97);
}

.scroll{
    margin-top: 0px;
}

/*FOOTER*/

.foot{
    width: 100%;
    background-color: black;
    position: fixed;
    bottom: 0;
}

.label-foot{
    font-family: Arial;
    font-size: 10px;
    font-weight: bold;
    color: gray;
    margin-top: -3px;
    margin-bottom: 3px;
    margin-left: 150px;
}

/*PÁGINA HOME*/

.contenedor-general{
background-color: #829EDF;
margin-top: -40px;
margin-bottom: -15px;
border-radius: 5px;
/*background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc1MCcgaGVpZ2h0PSc1MCcgdmlld0JveD0nMCAwIDUwIDUwJz4KCTxsaW5lIHgxPScxJyB5MT0nMCcgeDI9JzUxJyB5Mj0nNTAnIHN0cm9rZT0nI2RiZGJkYicgc3Ryb2tlLXdpZHRoPScyJy8+Cgk8bGluZSB4MT0nNDknIHkxPScwJyB4Mj0nLTEnIHkyPSc1MCcgc3Ryb2tlPScjZGJkYmRiJyBzdHJva2Utd2lkdGg9JzInLz4KCTxsaW5lIHgxPSc1MCcgeTE9JzAnIHgyPScwJyB5Mj0nNTAnIHN0cm9rZT0nI2VkZWRlZCcgc3Ryb2tlLXdpZHRoPScyJy8+Cgk8bGluZSB4MT0nMCcgeTE9JzAnIHgyPSc1MCcgeTI9JzUwJyBzdHJva2U9JyNlZGVkZWQnIHN0cm9rZS13aWR0aD0nMicvPgo8L3N2Zz4=');*/
}

.home-secciones{
    height: 50px; 
    background-color: rgb(2, 17, 97); 
    color: #F7F7F7; 
    font-family: fantasy; 
    font-size: 30px; 
    padding-top: 2%; 
    padding-left: 1%;
    border-radius: 5px;
}

/*Lema y oración*/
.home-lema-contenedor{
    height: 200px;
    background-color: #829EDF;
    padding-top: 15px;
    margin-top: 85px;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 50px;
    padding-right: 50px;
}

.home-lema-contenedor-lema{  
    height: 100%;
    display: inline-block;
    max-width: 25%;
    float: left;
}

.home-lema-contenedor-lema-titulo{
    vertical-align: top; 
    height: 14%; 
    background-color: rgb(9, 67, 155);
    font-family: fantasy;
    font-size: x-large;
    padding-top: 12px;
    padding-left: 1%;
    border-radius: 5px;
}

.home-lema-contenedor-lema-contenido{
    height: 75%; 
    padding-right: 20px; 
    padding-left: 20px; 
    padding-top: 10px;
    overflow: auto;
    border-radius: 5px;
    background-color: white;
    margin-top: 2px;
    text-align: justify;
}

.home-oracion-contenedor-oracion{  
    height: 100%;
    display: inline-block;
    max-width: 74%;
    float: right;
}

.home-oracion-contenedor-oracion-titulo{
    vertical-align: middle; 
    height: 14%; 
    background-color: rgb(9, 67, 155);
    font-family: fantasy;
    font-size: x-large;
    padding-top: 12px;
    padding-left: 1%;
    border-radius: 5px;
}

.home-oracion-contenedor-oracion-contenido{
    height: 75%; 
    padding-right: 20px; 
    padding-left: 20px; 
    padding-top: 10px;
    overflow: auto;
    border-radius: 5px;
    background-color: white;
    margin-top: 2px;
    text-align: justify;
}

/*Niveles*/
.home-niveles-contenedor{
    height: 200px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 50px;
    padding-right: 50px;
}

.home-niveles-contenedor-nivel{  
    height: 100%;
    /*width: 500px;*/
    display: inline-block;
    max-width: 45%;
}

.home-niveles-contenedor-nivel-titulo{
    vertical-align: top; 
    height: 15%; 
    background-color: rgb(9, 67, 155);
    font-family: fantasy;
    font-size: x-large;
    padding-top: 2%;
    padding-left: 1%;
    border-radius: 5px;
}

.home-niveles-contenedor-nivel-contenido{
    height: 75%; 
    padding-right: 20px; 
    padding-left: 20px; 
    padding-top: 10px;
    overflow: auto;
    border-radius: 5px;
    background-color: white;
    margin-top: 2px;
    text-align: justify;
}

.home-niveles-masinfo{
    cursor: pointer;
    font-size: smaller;
    color: black;
    margin-top: 13%;
}

.home-niveles-menosinfo{
    width: 140px;
    cursor: pointer;
    font-size: smaller;
    color: black;
}

.home-niveles-descargar{
    width: 140px;
    cursor: pointer;
    font-size: smaller;
    color: black;
}

.home-niveles-contenedor-masinfo{
    height: 765px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
}

.home-niveles-contenedor-nivel-masinfo{
    height: 100%;
    /*width: 500px;*/
    display: inline-block;
    max-width: 100%;
}

.home-niveles-contenedor-nivel-contenido-masinfo{
    height: 93%; 
    padding-right: 20px; 
    padding-left: 20px; 
    padding-top: 10px;
    border-radius: 5px;
    background-color: white;
    margin-top: 2px;
    overflow: auto;
    text-align: justify;
}

.home-niveles-contenedor-nivel.open{
}

/*Novedades*/
.home-novedades-contenedor{
    height: 200px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 50px;
    padding-right: 50px;
}

.home-novedades-contenedor-novedad{
    height: 100%;
    width: 45%;
    display: inline-block;
}

.home-novedades-contenedor-novedad-titulo{
    vertical-align: top; 
    height: 15%; 
    background-color: rgb(9, 67, 155);
    font-family: fantasy;
    font-size: x-large;
    padding-top: 2%;
    padding-left: 1%;
    border-radius: 5px;
}

.home-novedades-contenedor-novedad-contenido{
    height: 75%; 
    padding-right: 20px; 
    padding-left: 20px; 
    padding-top: 10px;
    overflow: auto;
    background-color: white;
    border-radius: 5px;
    margin-top: 2px;
    text-align: justify;
}

/*Institución*/
.home-institucion-contenedor{
    height: 200px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 50px;
    padding-right: 50px;
}

.home-institucion-contenedor-titulo{
    vertical-align: top; 
    height: 30px; 
    background-color: rgb(9, 67, 155);
    font-family: fantasy;
    font-size: x-large;
    padding-top: 1%;
    padding-left: 1%;
    border-radius: 5px;
}

.home-institucion-contenedor-contenido{
    height: 70%; 
    padding-right: 20px; 
    padding-left: 20px; 
    background-color: white;
    padding-top: 10px;
    overflow: auto;
    background-color: white;
    border-radius: 5px;
    margin-top: 2px;
    text-align: justify;
}

/*Galería*/
.home-galeria-contenedor{
    margin-left: 15px;
    margin-right: 15px; 
    padding-left: 50px;
    padding-right: 20px;
    margin-top: 15px;
    margin-bottom: 25px;
    padding-bottom: 15px;
}

.home-galeria-contenedor-imagen{
    height: auto;
    width: 10%;
    display: inline-block;
    border: 2px solid rgb(2, 17, 97);
    border-radius: 5px;
    margin: 1px;
}

/*PESTAÑAS ALUMNO*/

.contenedor-pestañas{
    margin-top: -40px;
    position: absolute;
    width: 100%;
    z-index: 999;
}

.contenedor-cuerpos-pestañas{
    background-color: white;
    height: 0px;
}

.contenedor-pestañas.active .contenedor-cuerpos-pestañas{
    height: 400px;
}

.cuerpo-pestañas-bottom{
    display: none;
}

/*Información del curso*/

.titulo-principal h1{
    margin-top: 0;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

#selector-curso{
    width: 575px;
    margin: auto;
    margin-top: 50px;
    height: 435px;
    background-color: #fff;    
    box-shadow: 0px 0px 25px 1px #CCC;
    margin-bottom: 20px;
}

.titulo-principal h3{
    margin-top: 0;
    line-height: 45px;
    color: #fff;
    font-size: 20px;
    padding-left: 10px;
}

.titulo-principal h1{
 color: black;
}

.box-curso-generic span{
    line-height: 48px;
    font-size: 15px;
    letter-spacing: 3px;
}

.lista-opciones{
    float: left;
    margin: 0 10px;
    list-style: none;
}
.contenedor-filtros{
    margin-left: 40px;
}

table#abreviaturas td {
    text-align: center;
    border: 1px solid;
    padding: 0px 30px;
}

.lista-opciones li{
    width: 150px;
    background-color: cadetblue;
    border: 1px solid #F9F5F5;
    padding: 5px;
    color: #fff;
    padding-left: 26px;
    cursor: pointer;
}
.lista-opciones li.active,
.lista-opciones li:hover{
    background-color: rgba(32, 57, 82, 0.75);
}
.lista-opciones img{
    width: 33px;
}
.contenedor-principal{
    display: inline-block;
    margin: 0;
}

.contenedor-principal.alumnos{
    float: left;
    width: 68%;
    background-color: #F4F4F4;
}

.contenedor-principal.temario,
.contenedor-principal.mensajes{
    text-align: center;
    border: none;
    width: 70%;
    background-color: transparent; 
}

.contenedor-principal.temario textarea,
.contenedor-principal.mensajes textarea{
    width: 80%;
    height: 100px;
}

.contenedor-principal.temario input[type="button"],
.contenedor-principal.mensajes input[type="button"]{
    width: 40%;
}

.contenedor-principal.inasistencias{
    float: left;
    width: 59%;
    background-color: #F4F4F4;
}

#listado-asistencia td input[type="text"]{
    padding: 5px;
}

#listado-asistencia td {
    border: 1px solid #999;
}

.contenedor-principal.inasistencias table td{
    padding: 10px;
}
.contenedor-principal.inasistencias table thead{
    text-align: center;
}
.contenedor-principal.inasistencias table{
    margin: 0 30px;
}

.contenedor-alumnos{
    margin: 0;
}

.contenedor-principal.asignaturas{
    width: 70%;
    margin: 0;
    background-color: transparent;
}

#guardar-notas-primaria {
    width: 70px !important;
    margin-top: 20px !important;
    display: block;
}

.box-alumno{
    text-decoration: none;
}

#informacion-num-curso{
    float: left;
    font-size: 16px;
    margin-left: 100px;
}

.change-pass-container img{    
    right: 8px;
    top: 8px;
    position: absolute;
    width: 18px;
}

.change-pass-container{
    width: 220px;
    top: 0;
    left: 0;
    margin: auto;
    bottom: 0;
    right: 0;
    height: 155px;
    position: absolute;
    border: 1px solid #D5D5D5;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 1px 21px -2px;
    background-color: #FFFFFF;
}
.box-alumno-generic  {
    background-color: white;
    width: 165px;
    height: 165px;
    display: inline-block;
    border: 2px solid rgb(200, 200, 200);
    float: left;
    margin: 10px;
}

.box-alumno-generic a {
    text-align: center;
}

.box-alumno-generic h2{
    font-size: 18px;
    line-height: 18px;
}
.box-alumno-generic h3{
    font-size: 16px;
    line-height: 16px;
}

.box-alumno-generic:hover{
    background-color: rgba(32, 57, 82, 0.75);
}

.box-alumno-generic:hover a{
    color: #FFFFFF;
    text-decoration: none;
}

.contenedor-de-listados{
    background-color: darkslategrey;
    border: 2px solid grey;
    width: 725px;
    margin-right: 10px;
    margin-left: 10px;
}

.box-listado{
    text-align: center;
    background-color: white;
    width: 150px;
    display: inline-block;
    text-align: center;
    border: 2px solid black;
}

.box-asignatura-generica{
    color: #000;
    background-color: rgb(72, 163, 133);
    color: #FFFFFF;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
}

.contenedor-pestana-general.materias{
    width: 50%;
}


.box-generic.progreso{
    box-shadow: 0px 0px 25px 1px #CCC;
    width: 80%;
    margin: 30px auto;
}

.box-generic.personales{
    float: left;
    width: 543px;
    margin-left: 1%;
    margin-top: 30px;
    box-shadow: 0px 0px 25px 1px #CCC;
}

.box-generic.aranceles{
    box-shadow: 0px 0px 25px 1px #CCC;
}

#listadoInasistencias thead{
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
}

#informe-nivel-primaria{
    padding: 30px;
    text-align: center;
}

#listado-primario-notas tr td:first-child {
text-align: left;
}

.optiones-materias{
    width: 40%;
    background-color: #FFF;
    height: 450px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

.optiones-materias img {
    width: 27px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.asignatura-titulo h3{
    margin-top: 0px;
}

#listadoInasistencias{
    margin: 0 auto;
    width: 85%;
}

#listadoInasistencias td{
    border: 1px solid #CCC;
    padding: 0 15px;
}

#horario_general,
#docentes_general{
    margin: 0 auto;
}

#horario_general td,
#docentes_general td{
    border: 1px solid #CCC;
    padding: 5px 10px;
}

.listado-asignaturas li {
    margin: 0;
    margin-bottom: 10px;
}

.box-asignatura{
    text-decoration: none;
}

.user-right{
    display: inline-block;
    float: right;
    margin: 8px 50px;
}

.user-options{
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    list-style: none;
    border: none;
    margin: -32px 48px 0 0;
    right: 0;
}

.user-options li{
    cursor: pointer;
    padding: 5px 16px;
    line-height: 30px;
}

.user-options li:hover{
    color: #FFFFFF;
    background-color: #909090;
}

.overlay-popup{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(000, 000, 000, 0.5);
    top: 0;
    bottom: 0;
    z-index: 99;
    left: 0;
    right: 0;
}

#loading{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(202, 202, 202, 0.7);
    top: 0;
    bottom: 0;
    z-index: 99;
    left: 0;
    right: 0;
}

#loading div{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 99;
    left: 0;
    right: 0;
    margin: auto;
}

.asignatura-body{
    display: none;
    margin-bottom: 20px;
}

.asignatura-body table{
    margin: 0 auto;
}

.comunicado-web  span,
.tema-dictado span {
    font-size: 13px;
    font-style: italic;
    font-weight: bold;
}

.edit-comunicado img,
.edit-temario img{
    margin-top: -5px;
    margin-left: 10px;
}
.tema-dictado,
.comunicado-web {
    border-bottom: 1px dashed #767676;
    padding: 10px;
}

.tema-dictado:last-child,
.comunicado-web:last-child {
    border-bottom: none;
}

#abreviaturas{
    margin-left: 0;
}
.tabla-abreviaturas{
    position: absolute;
    right: 60px;
    margin: 0px;
    display: none;
    background: rgb(255, 255, 255);
}

.columna-izquierda,
.columna-derecha{
    display: inline-block;
}

.columna-izquierda td,
.columna-derecha td{
    border: 1px solid #FFFFFF;
    padding: 0 10px;
}

.columna-derecha{
    width: 53%;
    margin-left: 30px;
}
.columna-izquierda{
    width: 39%;
}

.horario_general{
    margin: 0 auto;
}

.perfil-tutor-container,
.perfil-alumno-container{
    width: 700px;
    margin: 0 auto;
    z-index: 999;
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
}

.popup-header{
    background-color: #556783;
    border-radius: 10px 10px 0 0;
    padding: 3px 20px;
}

.popup-header h2{
    margin: 0;
    color: white;
    display: inline-block;
    font-size: 25px;
    vertical-align: middle;
}

.close-popup{
    float: right;
    margin: 6px 0;
    cursor: pointer;
}

.popup-body{
    padding: 23px 0 12px 0;
    background-color: #FFFFFF;
    border-radius: 0 0 10px 10px;
    min-height: 400px;
}

.container-left{
        width: 200px;
        float: left;
        text-align: center;
}

.container-left img{
    border: 2px solid #ddd;
}

.profile-picture{
    width: 150px;
    height: 150px;
}

.tutores-alumno{
    width: 90px;
    height: 90px;
}

.container-right{
    display: inline-block;
}

.container-right .tab-pane.active{
    border: 1px solid #dddddd;
    border-top: 0;
    background-color: #fff;
    padding: 10px;
    height: 421px;
}

.container-right .nav.nav-tabs{
    margin: 0px;
}

#profile label{
    width: 150px;
    display: inline-block;
}

.send-message-container{
    margin: 0 auto;
    width: 500px;
    background-color: #fff;
    padding: 20px;
}

.send-message-container label{
    display: inline-block;
}

.send-message-container textarea{
    width: 485px;
    height: 100px;
    display: block;
}

.send-menssage-header .radio{
    height: 25px;
}

.date-notes{
    float: right;
}


.date-notes label{
    width: 50px;
}

.selectpicker{
    margin-bottom: 0px; 
    visibility: hidden;
}

.box-curso-generic{
    background-color: aquamarine;
    width: 100%;
    text-align: center;
    display: inline-block;
    margin: 20px;
}

.overlay-change-pass,
.overlay-perfil-tutor{
    display: none;
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    opacity: 0.4;
}
.datos-tutor label{
    display: inline-block;
    width: 150px;
}

.foto-tutor{
    width: 120px;
    margin: 15px;
    float: left;
}
.popup-perfil-tutor{
    display: none;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 460px;
    height: 200px;
    margin: auto;
    border: 4px solid red;
}

.contenedor-pestana-general{
    margin: 25px auto;
}

.option-asignaturas{
    float: right;
    position: relative;
    display: none;
    width: 30px;
}

