
html,body{
    margin: 0px;
    height: 100%;
    background-color: lightgray !important;
}

/* ==|== Fonts =====================================================
   Author: Diego Bechi
   ========================================================================== */

@font-face {
    font-family: 'windsong';
    src: url('../font/Windsong.eot?') format('eot'), 
         url('../font/Windsong.woff') format('woff'), 
         url('../font/Windsong.ttf')  format('truetype'),
         url('../font/Windsong.svg#Windsong') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'titillium';
    src: url('../font/titilliumweb-regular-webfont.eot');
    src: url('../font/titilliumweb-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/titilliumweb-regular-webfont.woff') format('woff'),
        url('../font/titilliumweb-regular-webfont.ttf') format('truetype'),
        url('../font/titilliumweb-regular-webfont.svg#titillium_webregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.home-wrapper{
    height: 100%;
    left: 50%;
    margin-left: -47%;
    margin-right: auto;
    margin-top: 40px;
    padding-bottom: 50px;
    padding-top: 20px;
    position: absolute;
    width: 95%;
}

.home-head-buttons{
    display: block;
    height: 50px;
    padding-top: 10px;
    width: 100%;
    border-bottom: 1px solid #5555E4;
    margin-bottom: 24px;
}

.home-head-buttons ul.myselect-ul li {
    overflow: hidden;
}

.home-head-buttons ul.myselect-ul li p{
    float: left;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 120px;
    word-break: break-all;
    word-wrap: break-word;
}

.pt-perspective {
    position: relative;
    width: 100%;
    height: 80%;
    perspective: 1200px;
    margin-left: 7px;
    /*transform-style: preserve-3d;*/
}

.pt-page {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.pt-page-oh{
    overflow: hidden;
}
.pt-page-non{
    display: none;
}
.pt-page-current,
.no-js .pt-page {
    visibility: visible;
    height: 100%;
}

.no-js body {
    overflow: auto;
}
.pt-page-ontop {
    z-index: 999;
}   
.pt-page-1 {
    background: #F6F6F6;
    height: 100%;   
}
.pt-page-2 {
    background: #F6F6F6;
    height: 100%;   
}
.pt-page-3 {
    background: #F6F6F6;
    height: 100%;   
}
.formulario{
}

.columna-informacion-alumno{
    width: 50%;
    height: 90%;
    display: inline-block;
    float: left;
}

.columna-datos-personales-alumno{
    display: inline-block;
    width: 35%;
    height: 90%;
    float: left;        
    border-right: 2px solid;
}
.tab-content>.tab-pane{
    height: 400px;
}
.columna-foto-alumno{
    display: inline-block;
    width: 13%;
    height: 90%;
    float: left;
    margin-left: 5px;
}

.pagina-principal-informacion-alumno{
    height: 100%;
    width: 100%;
    margin-top: -5px;
}

.foto-perfil-datos-personales{
    width: 150px;
    height: 150px;
    border: 8px solid #000;
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    margin-top: 10px;   
}

.buttons-menu-container{
    float: right;
    margin-top: 10px;
    margin-right: 15px;
}

.nombre-usuario-singin{
    margin: 4px;
    float: right;
}

.login-menu-container{
    float: right;
    width: 230px;
    background-color: black;
    margin-top: -315px;
}

.login-menu-container .btn.btn-primary{
    margin-right: 37px;
    float: right;
    margin-bottom: 10px;
}

.login-menu-container .btn.btn-danger{
    margin-right: 37px;
    float: right;
    margin-bottom: 10px;
}

/*MENÚ*/

.menu-superior-general{
    width: 100%;
    height: 150px;
    background-color: rgb(2, 17, 97);
    overflow: hidden;
}

.label-menu-superior-general{
    font-family: Calibri;   
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin-top: 35px;
    margin-left: 15px;
    float: left;
    text-align: center;
}

menu#home-top-menu {
    float: left;
    padding-left: 0px;
}
#home-top-menu > ul {
    margin: 0;
    padding: 0;
    display: inline-flex;
}
#home-top-menu li {
    list-style: none outside none;
    margin-right: 2px;    
}
#home-top-menu a {
    color: rgb(2, 17, 97);
    padding: 13px 22px 15px;
    font-size: 15px;
    text-decoration: none;
    transition: all 0.5s;
    -moz-transition: all 0.5s; /* Firefox 4 */
    -webkit-transition: all 0.5s; /* Safari and Chrome */
    -o-transition: all 0.5s; /* Opera */
    border-right: 2px solid rgb(2, 17, 97);

}
#home-top-menu a.active, #home-top-menu a:hover  { 
    color: white;
    background-color: rgb(2, 17, 97);
    border-radius: 5px; 
}

#submenu-top-menu a{
    border-right: white;
    margin-left: -40px;
    padding: 0px;
    margin-right: 20px;
}

.home-menu-opciones{
    display: table-row;
    height: 49px;
    width: 100%;
    margin-bottom: 24px;
    background-color: white;
    float: left;
    position: fixed;
    margin-top: -5px;
    border-bottom: 1px solid rgb(2, 17, 97);
    border-top: 1px solid rgb(2, 17, 97);
    z-index: 9999;
    border-radius: 5px;
}

.home-submenu-opciones{
    margin-bottom: 24px;
    float: left;
    position: fixed;
    margin-top: 13px;
    display: none;
}

.lista:hover > .home-submenu-opciones {
    display: block;
}

.submenu-opcion {
    margin-left: -65px; 
    border-top: 2px solid rgb(2, 17, 97);
    border-left: 2px solid rgb(2, 17, 97);
    border-right: 2px solid rgb(2, 17, 97);
    padding-left: 60px;
    background-color: white;
    border-radius: 5px;
}

.submenu-opcion:hover{
    color: white;
    background-color: rgb(2, 17, 97);
}

.scroll{
    margin-top: 0px;
}

/*FOOTER*/

.foot{
    width: 100%;
    background-color: black;
    bottom: 0;
}

.label-foot{
    font-family: Arial;
    font-size: 10px;
    font-weight: bold;
    color: gray;
    margin-top: -3px;
    margin-bottom: 3px;
    margin-left: 150px;
}

/*PÁGINA HOME*/

.contenedor-general{
    background-color: lightgray; /*beige;*/
    margin-bottom: -15px;
    border-radius: 5px;
    margin-top: 50px;
    /*background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc1MCcgaGVpZ2h0PSc1MCcgdmlld0JveD0nMCAwIDUwIDUwJz4KCTxsaW5lIHgxPScxJyB5MT0nMCcgeDI9JzUxJyB5Mj0nNTAnIHN0cm9rZT0nI2RiZGJkYicgc3Ryb2tlLXdpZHRoPScyJy8+Cgk8bGluZSB4MT0nNDknIHkxPScwJyB4Mj0nLTEnIHkyPSc1MCcgc3Ryb2tlPScjZGJkYmRiJyBzdHJva2Utd2lkdGg9JzInLz4KCTxsaW5lIHgxPSc1MCcgeTE9JzAnIHgyPScwJyB5Mj0nNTAnIHN0cm9rZT0nI2VkZWRlZCcgc3Ryb2tlLXdpZHRoPScyJy8+Cgk8bGluZSB4MT0nMCcgeTE9JzAnIHgyPSc1MCcgeTI9JzUwJyBzdHJva2U9JyNlZGVkZWQnIHN0cm9rZS13aWR0aD0nMicvPgo8L3N2Zz4=');*/
}

.home-secciones{
    height: 40px; 
    background-color: rgb(2, 17, 97); 
    color: lightgray; 
    font-size: 25px; 
    padding-top: 15px; 
    padding-left: 1%;
    border-radius: 5px;
    margin-top: 20px;
}

/*Lema y oración*/
.home-lema-contenedor{  
    height: 100%;
    display: inline-block;
    max-width: 15%;
    float: left;
    padding-right: 15px; 
    padding-left: 2%; 
    border-radius: 5px;
    text-align: justify;
    margin-left: -15px;
    padding-bottom: 15px;
}

.home-lema-contenedor-titulo{
    font-size: 25px; 
    text-align: center; 
    font-family: Calibri;
    background-color: rgba(0, 0, 255, 0.67); 
    color: lightgray;
}

.home-lema-contenedor-contenido{
    font-size: 20px; 
    text-align: center; 
    border: 2px solid rgba(0, 0, 255, 0.67); 
    padding-bottom: 10px;
}

.home-oracion-contenedor{  
    height: 100%;
    display: inline-block;
    max-width: 15%;
    float: left;
    padding-right: 15px; 
    padding-left: 2%; 
    border-radius: 5px;
    text-align: justify;
    margin-left: -15px;
    padding-bottom: 15px;
    margin-top: -28%;
}

.home-oracion-contenedor-titulo{
    font-size: 20px; 
    text-align: center; 
    font-family: Calibri;
    background-color: rgba(0, 0, 255, 0.67); 
    color: lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
}

.home-oracion-contenedor-contenido{
    font-size: 15px; 
    text-align: center; 
    border: 2px solid rgba(0, 0, 255, 0.67);
    overflow: auto;
    height: 233px;
    padding-bottom: 10px;
}

/*Niveles*/
.home-niveles-contenedor{
    height: 200px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 50px;
    padding-right: 50px;
}

.home-niveles-contenedor-nivel{  
    height: 100%;
    /*width: 500px;*/
    display: inline-block;
    max-width: 45%;
}

.home-niveles-contenedor-nivel-titulo{ 
    height: 25px; 
    font-size: 15px;
    padding-top: 5px;
    padding-left: 5%;
    border-radius: 5px;
    color: gray;
}

.home-niveles-contenedor-nivel-contenido{
    height: 75%; 
    padding-right: 20px; 
    padding-left: 20px; 
    padding-top: 10px;
    overflow: auto;
    border-radius: 5px;
    background-color: white;
    margin-top: 2px;
    text-align: justify;
}

.home-niveles-masinfo{
    cursor: pointer;
    font-size: smaller;
    color: gray;
    margin-top: 13%;
    text-align: center;
}

.home-niveles-menosinfo{
    width: 140px;
    cursor: pointer;
    font-size: smaller;
    color: gray;
    text-align: center;
}

.home-niveles-descargar{
    width: 140px;
    cursor: pointer;
    font-size: smaller;
    color: black;
}

.home-niveles-contenedor-masinfo{
    height: 585px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.home-niveles-contenedor-nivel-masinfo{
    height: 100%;
    /*width: 500px;*/
    display: inline-block;
    max-width: 100%;
}

.home-niveles-contenedor-nivel-contenido-masinfo{
    height: 93%; 
    padding-right: 20px; 
    padding-left: 20px; 
    padding-top: 10px;
    border-radius: 5px;
    background-color: white;
    margin-top: 2px;
    overflow: auto;
    text-align: justify;
}

.home-niveles-contenedor-nivel.open{
}

/*Novedades*/
.home-novedades-contenedor{
    height: 200px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 50px;
    padding-right: 50px;
}

.home-novedades-contenedor-novedad{
    height: 100%;
    width: 45%;
    display: inline-block;
}

.home-novedades-contenedor-novedad-titulo{ 
    height: 25px; 
    background-color: rgba(0, 0, 255, 0.67);
    font-size: 15px;
    padding-top: 5px;
    padding-left: 5%;
    border-radius: 5px;
    color: lightgray;
}

.home-novedades-contenedor-novedad-contenido{
    height: 75%; 
    padding-right: 20px; 
    padding-left: 20px; 
    padding-top: 10px;
    overflow: auto;
    background-color: white;
    border-radius: 5px;
    margin-top: 2px;
    text-align: justify;
}

/*Institución*/
.home-institucion-contenedor-historia{
    height: 525px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 50px;
    padding-right: 50px;
}

.home-institucion-contenedor-naturaleza{
    height: 340px;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 50px;
    padding-right: 50px;
}

.home-institucion-contenedor-formacion{
    height: 620px;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 15px;
}

.home-institucion-contenedor-simbolos{
    height: 570px;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 50px;
    padding-right: 50px;
}

.home-institucion-contenedor-patronos{
    height: 565px;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 50px;
    padding-right: 50px;
}

.home-institucion-contenedor-ubicacion{
    height: 318px;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 50px;
    padding-right: 50px;
}

.home-institucion-contenedor-titulo{
    height: 25px; 
    background-color: rgba(0, 0, 255, 0.67);
    font-size: 15px;
    padding-top: 5px;
    padding-left: 20px;
    border-radius: 5px;
    color: lightgray;
}

.home-institucion-contenedor-contenido-historia{
    height: 86%; 
    padding-right: 20px; 
    padding-left: 20px; 
    background-color: white;
    padding-top: 10px;
    overflow: auto;
    background-color: white;
    border-radius: 5px;
    margin-top: 2px;
    text-align: justify;
}

.home-institucion-contenedor-contenido-naturaleza{
    height: 83%; 
    padding-right: 20px; 
    padding-left: 20px; 
    background-color: white;
    padding-top: 10px;
    overflow: auto;
    background-color: white;
    border-radius: 5px;
    margin-top: 2px;
    text-align: justify;
}

.home-institucion-contenedor-contenido-formacion{
    height: 88%; 
    padding-right: 20px; 
    padding-left: 20px; 
    background-color: white;
    padding-top: 10px;
    overflow: auto;
    background-color: white;
    border-radius: 5px;
    margin-top: 2px;
    text-align: justify;
}

.home-institucion-contenedor-contenido-simbolos{
    height: 87%; 
    padding-right: 20px; 
    padding-left: 20px; 
    background-color: white;
    padding-top: 10px;
    overflow: auto;
    background-color: white;
    border-radius: 5px;
    margin-top: 2px;
    text-align: justify;
}

.home-institucion-contenedor-contenido-patronos{
    height: 87%; 
    padding-right: 20px; 
    padding-left: 20px; 
    background-color: white;
    padding-top: 10px;
    overflow: auto;
    background-color: white;
    border-radius: 5px;
    margin-top: 2px;
    text-align: justify;
}

.home-institucion-contenedor-contenido-ubicacion{
    height: 82%; 
    padding-right: 20px; 
    padding-left: 20px; 
    background-color: white;
    padding-top: 10px;
    overflow: auto;
    background-color: white;
    border-radius: 5px;
    margin-top: 2px;
    text-align: justify;
}

.home-institucion-contenedor-vermas-historia{
    background-color: lightgrey; 
    text-align: center; 
    color: rgba(0, 0, 255, 0.67); 
    cursor: pointer;
    font-size: small;
}

.home-institucion-contenedor-vermas-formacion{
    background-color: lightgrey; 
    text-align: center; 
    color: rgba(0, 0, 255, 0.67); 
    cursor: pointer;
    font-size: small;
}

.home-institucion-contenedor-vermas-simbolos{
    background-color: lightgrey; 
    text-align: center; 
    color: rgba(0, 0, 255, 0.67); 
    cursor: pointer;
    font-size: small;
}

.home-institucion-contenedor-vermas-patronos{
    background-color: lightgrey; 
    text-align: center; 
    color: rgba(0, 0, 255, 0.67); 
    cursor: pointer;
    font-size: small;
}

.home-institucion-contenedor-vermenos-historia{
    background-color: lightgrey; 
    text-align: center; 
    color: rgba(0, 0, 255, 0.67); 
    cursor: pointer; 
    font-size: small;   
}

.home-institucion-contenedor-vermenos-formacion{
    background-color: lightgrey; 
    text-align: center; 
    color: rgba(0, 0, 255, 0.67); 
    cursor: pointer; 
    font-size: small;   
}

.home-institucion-contenedor-vermenos-simbolos{
    background-color: lightgrey; 
    text-align: center; 
    color: rgba(0, 0, 255, 0.67); 
    cursor: pointer; 
    font-size: small;   
}

.home-institucion-contenedor-vermenos-patronos{
    background-color: lightgrey; 
    text-align: center; 
    color: rgba(0, 0, 255, 0.67); 
    cursor: pointer; 
    font-size: small;   
}

/*Galería*/
.home-galeria-contenedor{
    margin-left: 15px;
    margin-right: 15px; 
    padding-left: 50px;
    padding-right: 20px;
    margin-top: 15px;
    padding-bottom: 30px;
}

.home-galeria-contenedor-imagen{
    height: auto;
    width: 10%;
    display: inline-block;
    border: 2px solid rgb(2, 17, 97);
    border-radius: 5px;
    margin: 1px;
}

/*PESTAÑAS ALUMNO*/
/*
.contenedor-pestañas{
    margin-top: -40px;
    position: absolute;
    width: 100%;
    z-index: 999;
} */

.contenedor-cuerpos-pestañas{
    background-color: white;
    height: 0px;
}

.contenedor-pestañas.active .contenedor-cuerpos-pestañas{
    height: 400px;
}

.cuerpo-pestañas-bottom{
    display: none;
}

/*Información del curso*/

.titulo-principal h1{
    margin-top: 0;
    background-color: orange;
    color: #fff;
    font-size: 20px;
    padding-left: 10px;
}

.titulo-principal h3{
    margin-top: 0;
    background-color: orange;
    color: #fff;
    font-size: 20px;
    padding-left: 10px;
}

.titulo-principal h1{
 color: black;
}

.titulo-principal h3{
 color: black;
}

.lista-opciones{
    width: 150px;
    background-color:gainsboro;
    float: left;
    margin-right: 10px;
}

.contenedor-principal{
    display: inline-block;
    width: 740px;
    height: 250px;
    border: 2px solid grey;
    margin: 0;
    background-color: gainsboro;
}

.contenedor-de-alumnos{
    background-color: darkslategrey;
    border: 2px solid grey;
    width: 725px;
    margin-right: 10px;
    margin-left: 10px;
}

.box-alumno{
    text-decoration: none;
}

.box-alumno-generic  {
    background-color: white;
    width: 150px;
    display: inline-block;
    border: 2px solid orange;
}

.box-alumno-generic a {
    text-align: center;
}

.contenedor-de-listados{
    background-color: darkslategrey;
    border: 2px solid grey;
    width: 725px;
    margin-right: 10px;
    margin-left: 10px;
}

.box-listado{
    text-align: center;
    background-color: white;
    width: 150px;
    display: inline-block;
    text-align: center;
    border: 2px solid black;
}

.contenedor-asignaturas{
    margin-top: 0px;
    display: inline-block;
    background-color: darkslategrey;
    border: 2px solid grey;
    width: 738px;
    height: 200px;
}

.box-asignatura-generica{
    background-color: white;
    border: 2px solid orange;
}

.box-asignatura-generica a{
    text-align: center;
}

.box-asignatura{
    text-decoration: none;
}

.overlay-popup{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(000, 000, 000, 0.5);
    top: 0;
    bottom: 0;
    z-index: 99;
}

.perfil-tutor-container,
.perfil-alumno-container{
    width: 800px;
    margin: 0 auto;
    z-index: 999;
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
}

.popup-header{
        background-color: #000;
        border-radius: 10px 10px 0 0;
}

.popup-header h2{
    margin: 0;
    color: white;
    display: inline-block;
    font-size: 25px;
    vertical-align: middle;
}

.close-popup{
    float: right;
    margin: 10px 10px 0 0;
    cursor: pointer;
}

.popup-body{
    padding: 30px 0;
    background-color: #d1d1d1;
    border-radius: 0 0 10px 10px;
    min-height: 400px;
}

.container-left{
        width: 200px;
        float: left;
        text-align: center;
}

.container-left img{
    border: 2px solid #ddd;
}

.profile-picture{
    width: 150px;
    height: 150px;
}

.tutores-alumno{
    width: 90px;
    height: 90px;
}

.container-right{
    width: 590px;
    display: inline-block;
}

.container-right .tab-pane.active{
    border: 1px solid #dddddd;
    border-top: 0;
    background-color: #fff;
    padding: 10px;
}

.container-right .nav.nav-tabs{
    margin: 0px;
}

#profile label{
    width: 150px;
    display: inline-block;
}

.send-message-container{
    margin: 0 auto;
    width: 500px;
    background-color: #fff;
    padding: 20px;
}

.send-message-container label{
    display: inline-block;
}

.send-message-container textarea{
    width: 485px;
    height: 100px;
    display: block;
}

.send-menssage-header .radio{
    height: 25px;
}

.date-notes{
    float: right;
}

.date-notes label{
    width: 50px;
}

.selectpicker{
    margin-bottom: 0px; 
    visibility: hidden;
}

.box-asignatura-generica,
.box-curso-generic{
    background-color: aquamarine;
    width: 150px;
    text-align: center;
    display: inline-block;
    height: 150px;
    margin: 20px;
}

.overlay-perfil-tutor{
    display: none;
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    opacity: 0.7;
}
.datos-tutor label{
    display: inline-block;
}
.datos-tutor{
    float: left;
}
.foto-tutor{
    width: 120px;
    margin: 15px;
    float: left;
}
.popup-perfil-tutor{
    display: none;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 460px;
    height: 200px;
    margin: auto;
    border: 4px solid red;
}