.news-holder p {
    margin-bottom: 10px;
    margin-left: 5px;
}

.news-holder {
    max-width: 100%;
    font-family: Calibri, Helvatica, Sans-serif;
    font-size: 13px;
}

.news-holder * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
  color: #336699;
  text-decoration: none;
}

.news-headlines {
  list-style: none;
  position: relative;
  margin-top: 20px;
  float: left;
  width: 30%;
}

  .news-headlines li {
    padding: 5px 20px 5px 24px;
    margin-bottom: 15px;
    position: relative;
    z-index: 20;
    color: white;
  }

  .nh-anim {
    -webkit-transition: all .75s ease-out;
    -moz-transition: all .75s ease-out;
    -o-transition: all .75s ease-out;
    transition: all .75s ease-out;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    background-color: #B0BEC5;
    font-size: 11px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    font-family: 'Righteous', cursive;
    font-weight: normal;
  }
  
  .news-headlines li:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-left: -5px;
  }

  .news-headlines li:hover, a:hover {
      cursor: pointer;
  }
  
  .news-headlines .highlight {
     width: 100%;
     background: #ededed;
     border-top: solid 1px #999;
     border-left: solid 1px #999;
     border-bottom: solid 1px #999;
     position: absolute;
     top: 0;
     left: 0;
     z-index: 10;
  }

  .news-headlines .highlight:before {
    display: none;
  }

.news-preview {
    float: left;
    border: solid 7px #29B6F6;
    width: 70%;
    background: white;
    z-index: 5;
    height: 287px !important;
    position: relative;
    border-radius: 10px;
}

  .news-preview img {
    display: block;
    border: solid 1px #29B6F6;
    width: 100%;
    max-width: 45%;
    margin: 25px 5px -5px 5px;
    float: right;
  } 

.news-content {
    position: absolute;
    z-index: 10;
    padding: 13px;
    top: 0;
    left: 0;
    display: none;
    color: #455A64;
    margin: 7px;
    background-color: rgba(236, 239, 241, 0.38);
    border-radius: 5px;
    width: 98%;
    height: 260px;
}

.top-content {
    display: block;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.selected{
  background-color: #29B6F6;
}

.fecha{
  font-size: smaller;
}

.titulo{
  color: #29B6F6;
  font-weight: bolder;
  font-size: 17px;
  font-family: 'Righteous', cursive;
}

.descripcion{
  margin-top: 20px;
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
}