USE [master]
GO
/****** Object:  Database [SIGE_UTN]    Script Date: 12/20/2014 11:19:56 ******/
CREATE DATABASE [SIGE_UTN] ON  PRIMARY 
( NAME = N'SIGE_UTN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\SIGE_UTN.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SIGE_UTN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\SIGE_UTN_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SIGE_UTN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SIGE_UTN]
GO
/****** Object:  User [tesis.sige]    Script Date: 12/20/2014 11:19:56 ******/
CREATE USER [tesis.sige] FOR LOGIN [tesis.sige] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Estado]    Script Date: 12/20/2014 11:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Estado](
	[idEstado] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[ambito] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Estado] PRIMARY KEY CLUSTERED 
(
	[idEstado] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Estado] ([idEstado], [nombre], [ambito]) VALUES (1, N'Preinscripto', N'Alumno')
INSERT [dbo].[Estado] ([idEstado], [nombre], [ambito]) VALUES (2, N'Regular', N'Alumno')
INSERT [dbo].[Estado] ([idEstado], [nombre], [ambito]) VALUES (3, N'Becado', N'Alumno')
/****** Object:  Table [dbo].[Matricula]    Script Date: 12/20/2014 11:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matricula](
	[idMatricula] [int] NOT NULL,
	[fechaInicio] [datetime] NOT NULL,
	[fechaFin] [datetime] NULL,
	[importe] [money] NOT NULL,
 CONSTRAINT [PK_Matricula] PRIMARY KEY CLUSTERED 
(
	[idMatricula] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Matricula] ([idMatricula], [fechaInicio], [fechaFin], [importe]) VALUES (1, CAST(0x0000A13900000000 AS DateTime), CAST(0x0000A31900000000 AS DateTime), 150.0000)
INSERT [dbo].[Matricula] ([idMatricula], [fechaInicio], [fechaFin], [importe]) VALUES (2, CAST(0x0000A31900000000 AS DateTime), CAST(0x0000A38200000000 AS DateTime), 165.0000)
INSERT [dbo].[Matricula] ([idMatricula], [fechaInicio], [fechaFin], [importe]) VALUES (3, CAST(0x0000A38200000000 AS DateTime), CAST(0x0000A3F800000000 AS DateTime), 170.0000)
/****** Object:  Table [dbo].[CicloLectivo]    Script Date: 12/20/2014 11:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CicloLectivo](
	[cicloLectivo] [int] NOT NULL,
 CONSTRAINT [PK_CicloLectivo] PRIMARY KEY CLUSTERED 
(
	[cicloLectivo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CicloLectivo] ([cicloLectivo]) VALUES (2012)
INSERT [dbo].[CicloLectivo] ([cicloLectivo]) VALUES (2013)
INSERT [dbo].[CicloLectivo] ([cicloLectivo]) VALUES (2014)
/****** Object:  Table [dbo].[Caja]    Script Date: 12/20/2014 11:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Caja](
	[idCaja] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[saldoInicial] [money] NOT NULL,
 CONSTRAINT [PK_Caja] PRIMARY KEY CLUSTERED 
(
	[idCaja] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Caja] ([idCaja], [nombre], [saldoInicial]) VALUES (1, N'Tesorería', 50000.0000)
INSERT [dbo].[Caja] ([idCaja], [nombre], [saldoInicial]) VALUES (2, N'Caja Chica', 1000.0000)
/****** Object:  Table [dbo].[Pais]    Script Date: 12/20/2014 11:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Pais](
	[idPais] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Pais] PRIMARY KEY CLUSTERED 
(
	[idPais] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Pais] ([idPais], [nombre]) VALUES (1, N'Argentina')
INSERT [dbo].[Pais] ([idPais], [nombre]) VALUES (2, N'Brasil')
INSERT [dbo].[Pais] ([idPais], [nombre]) VALUES (3, N'Uruguay')
/****** Object:  Table [dbo].[NumeroComprobante]    Script Date: 12/20/2014 11:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NumeroComprobante](
	[idNroComprobante] [int] NOT NULL,
	[serie] [int] NOT NULL,
	[numero] [int] NOT NULL,
 CONSTRAINT [PK_NumeroComprobante] PRIMARY KEY CLUSTERED 
(
	[idNroComprobante] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[NumeroComprobante] ([idNroComprobante], [serie], [numero]) VALUES (1, 0, 26)
/****** Object:  Table [dbo].[Novedad]    Script Date: 12/20/2014 11:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Novedad](
	[idNovedad] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[titulo] [varchar](50) NOT NULL,
	[descripcion] [varchar](5000) NOT NULL,
	[rutaArchivo] [varchar](200) NULL,
 CONSTRAINT [PK_Novedad] PRIMARY KEY CLUSTERED 
(
	[idNovedad] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NivelEducativo]    Script Date: 12/20/2014 11:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NivelEducativo](
	[idNivelEducativo] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[division] [varchar](50) NOT NULL,
	[reconocimientoPedagogico] [varchar](50) NULL,
	[aporteEstatal] [varchar](50) NULL,
 CONSTRAINT [PK_NivelEducativo] PRIMARY KEY CLUSTERED 
(
	[idNivelEducativo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[NivelEducativo] ([idNivelEducativo], [nombre], [division], [reconocimientoPedagogico], [aporteEstatal]) VALUES (1, N'Inicial', N'Sala de 3 Años', N'0071 / 02', N'0418 / 10')
INSERT [dbo].[NivelEducativo] ([idNivelEducativo], [nombre], [division], [reconocimientoPedagogico], [aporteEstatal]) VALUES (2, N'Inicial', N'Sala de 4 Años', N'0265 / 91', N'598 / 05')
INSERT [dbo].[NivelEducativo] ([idNivelEducativo], [nombre], [division], [reconocimientoPedagogico], [aporteEstatal]) VALUES (3, N'Inicial', N'Sala de 5 Años', N'769 - 946 / 46', N'769 - 946 / 46')
/****** Object:  Table [dbo].[MovimientoAltaBaja]    Script Date: 12/20/2014 11:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MovimientoAltaBaja](
	[idMovimientoAltaBaja] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[codigo] [varchar](5) NOT NULL,
	[ausentismo] [int] NOT NULL,
 CONSTRAINT [PK_MovimientoAltaBaja] PRIMARY KEY CLUSTERED 
(
	[idMovimientoAltaBaja] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[MovimientoAltaBaja] ([idMovimientoAltaBaja], [nombre], [codigo], [ausentismo]) VALUES (1, N'Licencia p/maternidad', N'123', 1)
INSERT [dbo].[MovimientoAltaBaja] ([idMovimientoAltaBaja], [nombre], [codigo], [ausentismo]) VALUES (2, N'sdfsddfsf', N'3543', 0)
/****** Object:  Table [dbo].[Cuota]    Script Date: 12/20/2014 11:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cuota](
	[idCuota] [int] NOT NULL,
	[alumnosGrupoFamiliar] [int] NOT NULL,
	[fechaInicio] [datetime] NOT NULL,
	[fechaFin] [datetime] NULL,
	[importe] [money] NOT NULL,
 CONSTRAINT [PK_ImporteCuota] PRIMARY KEY CLUSTERED 
(
	[idCuota] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Cuota] ([idCuota], [alumnosGrupoFamiliar], [fechaInicio], [fechaFin], [importe]) VALUES (0, 0, CAST(0x0000A13900000000 AS DateTime), NULL, 0.0000)
INSERT [dbo].[Cuota] ([idCuota], [alumnosGrupoFamiliar], [fechaInicio], [fechaFin], [importe]) VALUES (1, 1, CAST(0x0000A13900000000 AS DateTime), NULL, 150.0000)
INSERT [dbo].[Cuota] ([idCuota], [alumnosGrupoFamiliar], [fechaInicio], [fechaFin], [importe]) VALUES (2, 2, CAST(0x0000A13900000000 AS DateTime), CAST(0x0000A31900000000 AS DateTime), 270.0000)
/****** Object:  Table [dbo].[PerfilUsuario]    Script Date: 12/20/2014 11:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PerfilUsuario](
	[idPerfilUsuario] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[descripcion] [varchar](200) NULL,
 CONSTRAINT [PK_TipoUsuario] PRIMARY KEY CLUSTERED 
(
	[idPerfilUsuario] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[PerfilUsuario] ([idPerfilUsuario], [nombre], [descripcion]) VALUES (1, N'Administrador', N'Super Usuario, posee todos los permisos.')
INSERT [dbo].[PerfilUsuario] ([idPerfilUsuario], [nombre], [descripcion]) VALUES (2, N'Docente', N'Perfil para Docentes, con permisos apropiados.')
INSERT [dbo].[PerfilUsuario] ([idPerfilUsuario], [nombre], [descripcion]) VALUES (3, N'PersonalMaestranza', N'Perfil para Personal de Maestranza, con permisos apropiados.')
/****** Object:  Table [dbo].[SituacionRevista]    Script Date: 12/20/2014 11:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SituacionRevista](
	[idSituacionRevista] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_SituacionRevista] PRIMARY KEY CLUSTERED 
(
	[idSituacionRevista] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[SituacionRevista] ([idSituacionRevista], [nombre]) VALUES (1, N'Titular')
INSERT [dbo].[SituacionRevista] ([idSituacionRevista], [nombre]) VALUES (2, N'Interino')
INSERT [dbo].[SituacionRevista] ([idSituacionRevista], [nombre]) VALUES (3, N'Suplente')
/****** Object:  Table [dbo].[Titulo]    Script Date: 12/20/2014 11:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Titulo](
	[idTitulo] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Titulo] PRIMARY KEY CLUSTERED 
(
	[idTitulo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Titulo] ([idTitulo], [nombre]) VALUES (1, N'Contador Público')
INSERT [dbo].[Titulo] ([idTitulo], [nombre]) VALUES (2, N'Abogado')
INSERT [dbo].[Titulo] ([idTitulo], [nombre]) VALUES (3, N'Maestra de Grado')
/****** Object:  Table [dbo].[PuestoTrabajo]    Script Date: 12/20/2014 11:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PuestoTrabajo](
	[idPuestoTrabajo] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[descripcion] [varchar](200) NULL,
 CONSTRAINT [PK_PuestoTrabajo] PRIMARY KEY CLUSTERED 
(
	[idPuestoTrabajo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[PuestoTrabajo] ([idPuestoTrabajo], [nombre], [descripcion]) VALUES (1, N'Operario de Limpieza', N'Encargado de limpiar, ordenar y sacar la basura para mantener la higiene del instituto.')
INSERT [dbo].[PuestoTrabajo] ([idPuestoTrabajo], [nombre], [descripcion]) VALUES (2, N'Bedel', N'Encargado de tomar asistencia y controlar la conducta de alumnos en el instituto.')
INSERT [dbo].[PuestoTrabajo] ([idPuestoTrabajo], [nombre], [descripcion]) VALUES (3, N'Secretaria', N'Encargada de todas las tareas administrativas del instituto.')
/****** Object:  Table [dbo].[Turno]    Script Date: 12/20/2014 11:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Turno](
	[idTurno] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[horaInicio] [datetime] NULL,
	[horaFin] [datetime] NULL,
 CONSTRAINT [PK_Turno] PRIMARY KEY CLUSTERED 
(
	[idTurno] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Turno] ([idTurno], [nombre], [horaInicio], [horaFin]) VALUES (1, N'Mañana', CAST(0x00009FCB007A3910 AS DateTime), CAST(0x00009FCB00D8FAE0 AS DateTime))
INSERT [dbo].[Turno] ([idTurno], [nombre], [horaInicio], [horaFin]) VALUES (2, N'Tarde', CAST(0x00009FCB00DE7920 AS DateTime), CAST(0x00009FCB01206420 AS DateTime))
/****** Object:  Table [dbo].[Usuario]    Script Date: 12/20/2014 11:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuario](
	[idUsuario] [int] NOT NULL,
	[nombre] [varchar](50) NULL,
	[contraseña] [varchar](50) NULL,
	[idPerfilUsuario] [int] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Usuario] ([idUsuario], [nombre], [contraseña], [idPerfilUsuario]) VALUES (1, N'Curti', N'30971141', 4)
INSERT [dbo].[Usuario] ([idUsuario], [nombre], [contraseña], [idPerfilUsuario]) VALUES (2, N'Curti', N'30971142', 4)
INSERT [dbo].[Usuario] ([idUsuario], [nombre], [contraseña], [idPerfilUsuario]) VALUES (4, N'b', N'2', 2)
GO
print 'Processed 100 total records'
/****** Object:  Table [dbo].[ProvinciaEstado]    Script Date: 12/20/2014 11:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProvinciaEstado](
	[idProvinciaEstado] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[idPais] [int] NOT NULL,
 CONSTRAINT [PK_Provincia] PRIMARY KEY CLUSTERED 
(
	[idProvinciaEstado] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[ProvinciaEstado] ([idProvinciaEstado], [nombre], [idPais]) VALUES (1, N'Córdoba', 1)
INSERT [dbo].[ProvinciaEstado] ([idProvinciaEstado], [nombre], [idPais]) VALUES (2, N'Buenos Aires', 1)
INSERT [dbo].[ProvinciaEstado] ([idProvinciaEstado], [nombre], [idPais]) VALUES (3, N'Santa Fe', 1)
/****** Object:  Table [dbo].[Asignatura]    Script Date: 12/20/2014 11:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Asignatura](
	[idAsignatura] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[idNivelEducativo] [int] NOT NULL,
	[tipo] [varchar](50) NOT NULL,
	[cargaHoraria] [float] NULL,
	[programa] [varchar](200) NULL,
	[reconocimientoPedagogico] [varchar](50) NULL,
	[aporteEstatal] [varchar](50) NULL,
 CONSTRAINT [PK_Asignatura] PRIMARY KEY CLUSTERED 
(
	[idAsignatura] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Asignatura] ([idAsignatura], [nombre], [idNivelEducativo], [tipo], [cargaHoraria], [programa], [reconocimientoPedagogico], [aporteEstatal]) VALUES (1, N'Matemática', 4, N'Básica', 6, N'...\Asignatura 1.jpg', NULL, NULL)
INSERT [dbo].[Asignatura] ([idAsignatura], [nombre], [idNivelEducativo], [tipo], [cargaHoraria], [programa], [reconocimientoPedagogico], [aporteEstatal]) VALUES (2, N'Lengua', 4, N'Básica', 6, N'', NULL, NULL)
INSERT [dbo].[Asignatura] ([idAsignatura], [nombre], [idNivelEducativo], [tipo], [cargaHoraria], [programa], [reconocimientoPedagogico], [aporteEstatal]) VALUES (6, N'Educación Física', 4, N'Especial', 2, N'', N'769 - 946 / 46', N'769 - 946 / 46')
GO
print 'Processed 100 total records'
/****** Object:  Table [dbo].[Cargo]    Script Date: 12/20/2014 11:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cargo](
	[idCargo] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[codigo] [varchar](20) NULL,
	[nivelEducativo] [varchar](50) NOT NULL,
	[idNivelEducativo] [int] NULL,
	[reconocimientoPedagogico] [varchar](50) NULL,
	[aporteEstatal] [varchar](50) NULL,
 CONSTRAINT [PK_Cargo] PRIMARY KEY CLUSTERED 
(
	[idCargo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Cargo] ([idCargo], [nombre], [codigo], [nivelEducativo], [idNivelEducativo], [reconocimientoPedagogico], [aporteEstatal]) VALUES (1, N'Director', N'1ra Cat. 13 255', N'Inicial', NULL, NULL, NULL)
INSERT [dbo].[Cargo] ([idCargo], [nombre], [codigo], [nivelEducativo], [idNivelEducativo], [reconocimientoPedagogico], [aporteEstatal]) VALUES (2, N'Director', N'2da Cat. 13 260', N'Inicial', NULL, NULL, NULL)
INSERT [dbo].[Cargo] ([idCargo], [nombre], [codigo], [nivelEducativo], [idNivelEducativo], [reconocimientoPedagogico], [aporteEstatal]) VALUES (3, N'Director', N'3ra Cat. 13 265', N'Inicial', NULL, NULL, NULL)
/****** Object:  Table [dbo].[Aula]    Script Date: 12/20/2014 11:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Aula](
	[idAula] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[capacidad] [int] NOT NULL,
	[idEstado] [int] NOT NULL,
 CONSTRAINT [PK_Aula] PRIMARY KEY CLUSTERED 
(
	[idAula] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Aula] ([idAula], [nombre], [capacidad], [idEstado]) VALUES (1, N'007', 30, 9)
INSERT [dbo].[Aula] ([idAula], [nombre], [capacidad], [idEstado]) VALUES (2, N'008', 30, 9)
INSERT [dbo].[Aula] ([idAula], [nombre], [capacidad], [idEstado]) VALUES (3, N'009', 30, 9)
/****** Object:  Table [dbo].[Curso]    Script Date: 12/20/2014 11:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Curso](
	[idCurso] [int] NOT NULL,
	[cicloLectivo] [int] NOT NULL,
	[idNivelEducativo] [int] NOT NULL,
	[seccion] [varchar](10) NULL,
	[idTurno] [int] NOT NULL,
	[idAula] [int] NOT NULL,
	[idEstado] [int] NOT NULL,
 CONSTRAINT [PK_Curso] PRIMARY KEY CLUSTERED 
(
	[idCurso] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Curso] ([idCurso], [cicloLectivo], [idNivelEducativo], [seccion], [idTurno], [idAula], [idEstado]) VALUES (1, 2014, 1, N'A', 2, 7, 12)
INSERT [dbo].[Curso] ([idCurso], [cicloLectivo], [idNivelEducativo], [seccion], [idTurno], [idAula], [idEstado]) VALUES (2, 2014, 2, N'A', 2, 8, 12)
INSERT [dbo].[Curso] ([idCurso], [cicloLectivo], [idNivelEducativo], [seccion], [idTurno], [idAula], [idEstado]) VALUES (3, 2014, 3, N'A', 2, 9, 12)
/****** Object:  Table [dbo].[Localidad]    Script Date: 12/20/2014 11:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Localidad](
	[idLocalidad] [int] NOT NULL,
	[nombre] [varchar](50) NULL,
	[idProvinciaEstado] [int] NULL,
 CONSTRAINT [PK_Localidad] PRIMARY KEY CLUSTERED 
(
	[idLocalidad] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Localidad] ([idLocalidad], [nombre], [idProvinciaEstado]) VALUES (1, N'Córdoba', 1)
INSERT [dbo].[Localidad] ([idLocalidad], [nombre], [idProvinciaEstado]) VALUES (2, N'Balnearia', 1)
INSERT [dbo].[Localidad] ([idLocalidad], [nombre], [idProvinciaEstado]) VALUES (3, N'Villa Carlos Paz', 1)
/****** Object:  Table [dbo].[Barrio]    Script Date: 12/20/2014 11:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Barrio](
	[idBarrio] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[codigoPostal] [varchar](50) NOT NULL,
	[idLocalidad] [int] NOT NULL,
 CONSTRAINT [PK_Barrio] PRIMARY KEY CLUSTERED 
(
	[idBarrio] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Barrio] ([idBarrio], [nombre], [codigoPostal], [idLocalidad]) VALUES (1, N'Nueva Córdoba', N'5000', 1)
INSERT [dbo].[Barrio] ([idBarrio], [nombre], [codigoPostal], [idLocalidad]) VALUES (3, N'Alta Córdoba', N'5000', 1)
INSERT [dbo].[Barrio] ([idBarrio], [nombre], [codigoPostal], [idLocalidad]) VALUES (4, N'Centro', N'5000', 1)
/****** Object:  Table [dbo].[Domicilio]    Script Date: 12/20/2014 11:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Domicilio](
	[idDomicilio] [int] NOT NULL,
	[calle] [varchar](50) NOT NULL,
	[numero] [varchar](10) NOT NULL,
	[piso] [varchar](10) NULL,
	[departamento] [varchar](10) NULL,
	[idBarrio] [int] NOT NULL,
 CONSTRAINT [PK_Domicilio] PRIMARY KEY CLUSTERED 
(
	[idDomicilio] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Domicilio] ([idDomicilio], [calle], [numero], [piso], [departamento], [idBarrio]) VALUES (3, N'Velez Sarfield', N'663', N'', N'', 14)
INSERT [dbo].[Domicilio] ([idDomicilio], [calle], [numero], [piso], [departamento], [idBarrio]) VALUES (4, N'E. Franchin', N'153', N'', N'', 14)
INSERT [dbo].[Domicilio] ([idDomicilio], [calle], [numero], [piso], [departamento], [idBarrio]) VALUES (5, N'L.M. Alem', N'739', N'', N'', 14)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
/****** Object:  Table [dbo].[PersonalMaestranza]    Script Date: 12/20/2014 11:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PersonalMaestranza](
	[legajoPersonalMaestranza] [int] NOT NULL,
	[nroDocumento] [int] NOT NULL,
	[sexo] [varchar](50) NOT NULL,
	[idEstadoCivil] [int] NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[lugarNacimiento] [varchar](50) NULL,
	[fechaNacimiento] [datetime] NOT NULL,
	[nacionalidad] [varchar](50) NULL,
	[observaciones] [varchar](200) NULL,
	[idDomicilio] [int] NOT NULL,
	[telefonoFijo] [varchar](50) NULL,
	[telefonoMovil] [varchar](50) NULL,
	[correoElectronico] [varchar](50) NULL,
	[fechaInicioActividad] [datetime] NOT NULL,
	[fechaFinActividad] [datetime] NULL,
	[cuil] [varchar](15) NOT NULL,
	[idPuestoTrabajo] [int] NOT NULL,
	[curriculumVitae] [varchar](200) NULL,
	[idEstado] [int] NOT NULL,
	[idUsuario] [int] NOT NULL,
 CONSTRAINT [PK_NoDocente] PRIMARY KEY CLUSTERED 
(
	[legajoPersonalMaestranza] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tutor]    Script Date: 12/20/2014 11:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tutor](
	[idTutor] [int] NOT NULL,
	[nroDocumento] [int] NOT NULL,
	[sexo] [varchar](50) NOT NULL,
	[idEstadoCivil] [int] NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[lugarNacimiento] [varchar](50) NULL,
	[fechaNacimiento] [datetime] NOT NULL,
	[nacionalidad] [varchar](50) NULL,
	[ocupacion] [varchar](100) NOT NULL,
	[observaciones] [varchar](200) NULL,
	[idDomicilio] [int] NOT NULL,
	[telefonoFijo] [varchar](50) NULL,
	[telefonoMovil] [varchar](50) NULL,
	[correoElectronico] [varchar](50) NULL,
 CONSTRAINT [PK_Tutor] PRIMARY KEY CLUSTERED 
(
	[idTutor] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Tutor] ([idTutor], [nroDocumento], [sexo], [idEstadoCivil], [apellido], [nombre], [lugarNacimiento], [fechaNacimiento], [nacionalidad], [ocupacion], [observaciones], [idDomicilio], [telefonoFijo], [telefonoMovil], [correoElectronico]) VALUES (2, 17974261, N'Femenino', 21, N'Maidana', N'Marcela', N'', CAST(0x0000A13900000000 AS DateTime), N'', N'Docente', N'', 13, N'420956', N'15409155', N'')
INSERT [dbo].[Tutor] ([idTutor], [nroDocumento], [sexo], [idEstadoCivil], [apellido], [nombre], [lugarNacimiento], [fechaNacimiento], [nacionalidad], [ocupacion], [observaciones], [idDomicilio], [telefonoFijo], [telefonoMovil], [correoElectronico]) VALUES (3, 26816945, N'Masculino', 21, N'Borsi', N'German', N'', CAST(0x0000A13900000000 AS DateTime), N'', N'Docente', N'', 14, N'', N'15408384', N'')
INSERT [dbo].[Tutor] ([idTutor], [nroDocumento], [sexo], [idEstadoCivil], [apellido], [nombre], [lugarNacimiento], [fechaNacimiento], [nacionalidad], [ocupacion], [observaciones], [idDomicilio], [telefonoFijo], [telefonoMovil], [correoElectronico]) VALUES (4, 27869097, N'Femenino', 21, N'Gonzalez', N'Silvana', N'', CAST(0x0000A13900000000 AS DateTime), N'', N'Docente', N'', 15, N'', N'15402540', N'')
/****** Object:  Table [dbo].[Alumno]    Script Date: 12/20/2014 11:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Alumno](
	[legajoAlumno] [int] NOT NULL,
	[nroDocumento] [int] NOT NULL,
	[sexo] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[lugarNacimiento] [varchar](50) NULL,
	[fechaNacimiento] [datetime] NOT NULL,
	[nacionalidad] [varchar](50) NULL,
	[observaciones] [varchar](200) NULL,
	[idDomicilio] [int] NOT NULL,
	[telefonoFijo] [varchar](50) NULL,
	[telefonoMovil] [varchar](50) NULL,
	[correoElectronico] [varchar](50) NULL,
	[idEstado] [int] NOT NULL,
	[idUsuario] [int] NOT NULL,
 CONSTRAINT [PK_Alumno] PRIMARY KEY CLUSTERED 
(
	[legajoAlumno] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Alumno] ([legajoAlumno], [nroDocumento], [sexo], [apellido], [nombre], [lugarNacimiento], [fechaNacimiento], [nacionalidad], [observaciones], [idDomicilio], [telefonoFijo], [telefonoMovil], [correoElectronico], [idEstado], [idUsuario]) VALUES (100002, 44432853, N'Masculino', N'Bertuzzi', N'Lautaro Joaquin', N'', CAST(0x000092A600000000 AS DateTime), N'', N'', 4, N'', N'', N'', 2, 16)
INSERT [dbo].[Alumno] ([legajoAlumno], [nroDocumento], [sexo], [apellido], [nombre], [lugarNacimiento], [fechaNacimiento], [nacionalidad], [observaciones], [idDomicilio], [telefonoFijo], [telefonoMovil], [correoElectronico], [idEstado], [idUsuario]) VALUES (100003, 44472148, N'Masculino', N'Borsi', N'Joaquin German', N'Santa Rosa de Rio Primero', CAST(0x000092FB00000000 AS DateTime), N'', N'', 5, N'', N'', N'', 2, 17)
INSERT [dbo].[Alumno] ([legajoAlumno], [nroDocumento], [sexo], [apellido], [nombre], [lugarNacimiento], [fechaNacimiento], [nacionalidad], [observaciones], [idDomicilio], [telefonoFijo], [telefonoMovil], [correoElectronico], [idEstado], [idUsuario]) VALUES (100004, 44296507, N'Masculino', N'Castillo', N'Lucian Joel', N'Balnearia', CAST(0x0000925600000000 AS DateTime), N'', N'', 6, N'', N'', N'', 2, 18)
GO
print 'Processed 100 total records'
/****** Object:  Table [dbo].[Docente]    Script Date: 12/20/2014 11:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Docente](
	[legajoDocente] [int] NOT NULL,
	[nroDocumento] [int] NOT NULL,
	[sexo] [varchar](50) NOT NULL,
	[idEstadoCivil] [int] NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[lugarNacimiento] [varchar](50) NULL,
	[fechaNacimiento] [datetime] NOT NULL,
	[nacionalidad] [varchar](50) NULL,
	[observaciones] [varchar](200) NULL,
	[idDomicilio] [int] NOT NULL,
	[telefonoFijo] [varchar](50) NULL,
	[telefonoMovil] [varchar](50) NULL,
	[correoElectronico] [varchar](50) NULL,
	[fechaInicioActividad] [datetime] NOT NULL,
	[fechaFinActividad] [datetime] NULL,
	[cuil] [varchar](11) NOT NULL,
	[idSituacionRevista] [int] NOT NULL,
	[curriculumVitae] [varchar](50) NULL,
	[idEstado] [int] NOT NULL,
	[idUsuario] [int] NOT NULL,
 CONSTRAINT [PK_Empleado] PRIMARY KEY CLUSTERED 
(
	[legajoDocente] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LicenciaPersonalMaestranza]    Script Date: 12/20/2014 11:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LicenciaPersonalMaestranza](
	[legajoPersonalMaestranza] [int] NOT NULL,
	[fechaInicio] [datetime] NOT NULL,
	[fechaFin] [datetime] NOT NULL,
	[motivo] [varchar](200) NOT NULL,
 CONSTRAINT [PK_LicenciaNoDocente] PRIMARY KEY CLUSTERED 
(
	[legajoPersonalMaestranza] ASC,
	[fechaInicio] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LicenciaDocente]    Script Date: 12/20/2014 11:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LicenciaDocente](
	[legajoDocente] [int] NOT NULL,
	[fechaInicio] [datetime] NOT NULL,
	[fechaFin] [datetime] NOT NULL,
	[idMovimientoAltaBaja] [int] NOT NULL,
 CONSTRAINT [PK_Licencia] PRIMARY KEY CLUSTERED 
(
	[legajoDocente] ASC,
	[fechaInicio] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inscripcion]    Script Date: 12/20/2014 11:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inscripcion](
	[idCurso] [int] NOT NULL,
	[legajoAlumno] [int] NOT NULL,
	[fecha] [datetime] NULL,
 CONSTRAINT [PK_Inscripcion] PRIMARY KEY CLUSTERED 
(
	[legajoAlumno] ASC,
	[idCurso] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Inscripcion] ([idCurso], [legajoAlumno], [fecha]) VALUES (27, 100002, CAST(0x0000A3CD01563692 AS DateTime))
INSERT [dbo].[Inscripcion] ([idCurso], [legajoAlumno], [fecha]) VALUES (27, 100003, CAST(0x0000A3CD015631A6 AS DateTime))
INSERT [dbo].[Inscripcion] ([idCurso], [legajoAlumno], [fecha]) VALUES (27, 100004, CAST(0x0000A3CD01562490 AS DateTime))
/****** Object:  Table [dbo].[HorarioPersonalMaestranza]    Script Date: 12/20/2014 11:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HorarioPersonalMaestranza](
	[legajoPersonalMaestranza] [int] NOT NULL,
	[cicloLectivo] [int] NOT NULL,
	[diaSemana] [varchar](50) NOT NULL,
	[horaInicio] [datetime] NOT NULL,
	[horaFin] [datetime] NOT NULL,
 CONSTRAINT [PK_HorarioPersonalMaestranza] PRIMARY KEY CLUSTERED 
(
	[legajoPersonalMaestranza] ASC,
	[cicloLectivo] ASC,
	[diaSemana] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[HorarioPersonalMaestranza] ([legajoPersonalMaestranza], [cicloLectivo], [diaSemana], [horaInicio], [horaFin]) VALUES (1001, 2014, N'Jueves', CAST(0x0000A13900735B40 AS DateTime), CAST(0x0000A139009450C0 AS DateTime))
INSERT [dbo].[HorarioPersonalMaestranza] ([legajoPersonalMaestranza], [cicloLectivo], [diaSemana], [horaInicio], [horaFin]) VALUES (1001, 2014, N'Lunes', CAST(0x0000A13900735B40 AS DateTime), CAST(0x0000A139009450C0 AS DateTime))
INSERT [dbo].[HorarioPersonalMaestranza] ([legajoPersonalMaestranza], [cicloLectivo], [diaSemana], [horaInicio], [horaFin]) VALUES (1001, 2014, N'Martes', CAST(0x0000A13900735B40 AS DateTime), CAST(0x0000A139009450C0 AS DateTime))
/****** Object:  Table [dbo].[HorarioCurso]    Script Date: 12/20/2014 11:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HorarioCurso](
	[idCurso] [int] NOT NULL,
	[idAsignatura] [int] NOT NULL,
	[diaSemana] [varchar](50) NOT NULL,
	[horaInicio] [datetime] NOT NULL,
	[horaFin] [datetime] NOT NULL,
	[legajoDocente] [int] NULL,
 CONSTRAINT [PK_AsignaturasPorCurso] PRIMARY KEY CLUSTERED 
(
	[idCurso] ASC,
	[idAsignatura] ASC,
	[diaSemana] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[HorarioCurso] ([idCurso], [idAsignatura], [diaSemana], [horaInicio], [horaFin], [legajoDocente]) VALUES (1, 22, N'Jueves', CAST(0x0000A13900EAD530 AS DateTime), CAST(0x0000A13900F31290 AS DateTime), 10012)
INSERT [dbo].[HorarioCurso] ([idCurso], [idAsignatura], [diaSemana], [horaInicio], [horaFin], [legajoDocente]) VALUES (1, 22, N'Lunes', CAST(0x0000A13900EAD530 AS DateTime), CAST(0x0000A13900F31290 AS DateTime), 10012)
INSERT [dbo].[HorarioCurso] ([idCurso], [idAsignatura], [diaSemana], [horaInicio], [horaFin], [legajoDocente]) VALUES (1, 22, N'Martes', CAST(0x0000A13900EAD530 AS DateTime), CAST(0x0000A13900F31290 AS DateTime), 10012)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
/****** Object:  Table [dbo].[GrupoFamiliar]    Script Date: 12/20/2014 11:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GrupoFamiliar](
	[idTutor] [int] NOT NULL,
	[legajoAlumno] [int] NOT NULL,
 CONSTRAINT [PK_TutorPorAlumno] PRIMARY KEY CLUSTERED 
(
	[legajoAlumno] ASC,
	[idTutor] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[GrupoFamiliar] ([idTutor], [legajoAlumno]) VALUES (2, 100002)
INSERT [dbo].[GrupoFamiliar] ([idTutor], [legajoAlumno]) VALUES (3, 100003)
INSERT [dbo].[GrupoFamiliar] ([idTutor], [legajoAlumno]) VALUES (4, 100004)
/****** Object:  Table [dbo].[CuotaGrupoFamiliar]    Script Date: 12/20/2014 11:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CuotaGrupoFamiliar](
	[idCuotaGrupoFamiliar] [int] NOT NULL,
	[idTutor] [int] NOT NULL,
	[cicloLectivo] [int] NOT NULL,
	[numero] [int] NOT NULL,
	[mes] [varchar](50) NOT NULL,
	[idCuota] [int] NOT NULL,
	[montoCobrado] [money] NOT NULL,
 CONSTRAINT [PK_Cuota] PRIMARY KEY CLUSTERED 
(
	[idCuotaGrupoFamiliar] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CuotaGrupoFamiliar] ([idCuotaGrupoFamiliar], [idTutor], [cicloLectivo], [numero], [mes], [idCuota], [montoCobrado]) VALUES (1, 7, 2014, 1, N'Marzo', 2, 270.0000)
INSERT [dbo].[CuotaGrupoFamiliar] ([idCuotaGrupoFamiliar], [idTutor], [cicloLectivo], [numero], [mes], [idCuota], [montoCobrado]) VALUES (2, 7, 2014, 2, N'Abril', 2, 270.0000)
INSERT [dbo].[CuotaGrupoFamiliar] ([idCuotaGrupoFamiliar], [idTutor], [cicloLectivo], [numero], [mes], [idCuota], [montoCobrado]) VALUES (3, 2, 2014, 1, N'Marzo', 1, 150.0000)
/****** Object:  Table [dbo].[CargoPorDocente]    Script Date: 12/20/2014 11:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CargoPorDocente](
	[legajoDocente] [int] NOT NULL,
	[idCargo] [int] NOT NULL,
	[fechaInicio] [datetime] NOT NULL,
	[fechaFin] [datetime] NULL,
 CONSTRAINT [PK_CargoPorDocente] PRIMARY KEY CLUSTERED 
(
	[legajoDocente] ASC,
	[idCargo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CargoPorDocente] ([legajoDocente], [idCargo], [fechaInicio], [fechaFin]) VALUES (10001, 1, CAST(0x0000A3D200000000 AS DateTime), NULL)
INSERT [dbo].[CargoPorDocente] ([legajoDocente], [idCargo], [fechaInicio], [fechaFin]) VALUES (10001, 13, CAST(0x000096FF00000000 AS DateTime), NULL)
INSERT [dbo].[CargoPorDocente] ([legajoDocente], [idCargo], [fechaInicio], [fechaFin]) VALUES (10002, 16, CAST(0x000096FF00000000 AS DateTime), NULL)
GO
print 'Processed 100 total records'
/****** Object:  Table [dbo].[CalificacionEscolar]    Script Date: 12/20/2014 11:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CalificacionEscolar](
	[idCurso] [int] NOT NULL,
	[idAsignatura] [int] NOT NULL,
	[legajoAlumno] [int] NOT NULL,
	[etapa] [varchar](20) NOT NULL,
	[nroCalificacion] [int] NOT NULL,
	[motivo] [varchar](50) NULL,
	[calificacion] [varchar](5000) NULL,
 CONSTRAINT [PK_CalificacionEscolarX] PRIMARY KEY CLUSTERED 
(
	[idCurso] ASC,
	[idAsignatura] ASC,
	[legajoAlumno] ASC,
	[etapa] ASC,
	[nroCalificacion] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CalificacionEscolar] ([idCurso], [idAsignatura], [legajoAlumno], [etapa], [nroCalificacion], [motivo], [calificacion]) VALUES (3, 42, 100024, N'Primera', 1, N'', N'fdsfdfsfs')
INSERT [dbo].[CalificacionEscolar] ([idCurso], [idAsignatura], [legajoAlumno], [etapa], [nroCalificacion], [motivo], [calificacion]) VALUES (3, 42, 100024, N'Segunda', 2, N'', N'dfsdfdsfdfsd')
INSERT [dbo].[CalificacionEscolar] ([idCurso], [idAsignatura], [legajoAlumno], [etapa], [nroCalificacion], [motivo], [calificacion]) VALUES (9, 44, 100047, N'Primera', 1, N'P', N'MB')
/****** Object:  Table [dbo].[BecaEstudiantil]    Script Date: 12/20/2014 11:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BecaEstudiantil](
	[legajoAlumno] [int] NOT NULL,
	[fechaInicio] [datetime] NOT NULL,
	[fechaFin] [datetime] NOT NULL,
	[motivo] [varchar](50) NOT NULL,
	[descuento] [money] NOT NULL,
 CONSTRAINT [PK_BecaEstudiantil] PRIMARY KEY CLUSTERED 
(
	[legajoAlumno] ASC,
	[fechaInicio] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BajaPersonalMaestranza]    Script Date: 12/20/2014 11:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BajaPersonalMaestranza](
	[idBajaMaestranza] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[legajoPersonalMaestranza] [int] NOT NULL,
	[motivo] [varchar](200) NULL,
 CONSTRAINT [PK_BajaPersonalMaestranza] PRIMARY KEY CLUSTERED 
(
	[idBajaMaestranza] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BajaDocente]    Script Date: 12/20/2014 11:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BajaDocente](
	[idBajaDocente] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[legajoDocente] [int] NOT NULL,
	[motivo] [varchar](200) NULL,
 CONSTRAINT [PK_BajaDocente] PRIMARY KEY CLUSTERED 
(
	[idBajaDocente] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BajaAlumno]    Script Date: 12/20/2014 11:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BajaAlumno](
	[idBajaAlumno] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[legajoAlumno] [int] NOT NULL,
	[motivo] [varchar](200) NULL,
 CONSTRAINT [PK_BajaAlumno] PRIMARY KEY CLUSTERED 
(
	[idBajaAlumno] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AsistenciaPersonalMaestranza]    Script Date: 12/20/2014 11:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AsistenciaPersonalMaestranza](
	[legajoPersonalMaestranza] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[presente] [int] NOT NULL,
	[horaEntrada] [datetime] NULL,
	[horaSalida] [datetime] NULL,
	[justificacion] [varchar](50) NULL,
 CONSTRAINT [PK_AsistenciaNoDocente] PRIMARY KEY CLUSTERED 
(
	[legajoPersonalMaestranza] ASC,
	[fecha] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AsistenciaDocente]    Script Date: 12/20/2014 11:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AsistenciaDocente](
	[legajoDocente] [int] NOT NULL,
	[idCurso] [int] NOT NULL,
	[idAsignatura] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[presente] [int] NOT NULL,
	[idMovimientoAltaBaja] [int] NULL,
 CONSTRAINT [PK_AsistenciaDocente] PRIMARY KEY CLUSTERED 
(
	[legajoDocente] ASC,
	[idCurso] ASC,
	[idAsignatura] ASC,
	[fecha] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AsistenciaAlumno]    Script Date: 12/20/2014 11:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AsistenciaAlumno](
	[legajoAlumno] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[presente] [int] NOT NULL,
	[justificacion] [varchar](50) NULL,
 CONSTRAINT [PK_AsistenciaAlumno] PRIMARY KEY CLUSTERED 
(
	[legajoAlumno] ASC,
	[fecha] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[AsistenciaAlumno] ([legajoAlumno], [fecha], [presente], [justificacion]) VALUES (100047, CAST(0x0000A3E200000000 AS DateTime), 0, N'ausente por enfermedad')
INSERT [dbo].[AsistenciaAlumno] ([legajoAlumno], [fecha], [presente], [justificacion]) VALUES (100047, CAST(0x0000A3E300000000 AS DateTime), 0, N'ausente por enfermedad')
INSERT [dbo].[AsistenciaAlumno] ([legajoAlumno], [fecha], [presente], [justificacion]) VALUES (100047, CAST(0x0000A3E400000000 AS DateTime), 1, NULL)
/****** Object:  Table [dbo].[AsignaturaPorDocente]    Script Date: 12/20/2014 11:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AsignaturaPorDocente](
	[legajoDocente] [int] NOT NULL,
	[idAsignatura] [int] NOT NULL,
 CONSTRAINT [PK_AsignaturaPorDocente] PRIMARY KEY CLUSTERED 
(
	[legajoDocente] ASC,
	[idAsignatura] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AsignaturaPorDocente] ([legajoDocente], [idAsignatura]) VALUES (10001, 1)
INSERT [dbo].[AsignaturaPorDocente] ([legajoDocente], [idAsignatura]) VALUES (10002, 17)
INSERT [dbo].[AsignaturaPorDocente] ([legajoDocente], [idAsignatura]) VALUES (10003, 42)
GO
print 'Processed 100 total records'
/****** Object:  Table [dbo].[TituloPorDocente]    Script Date: 12/20/2014 11:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TituloPorDocente](
	[legajoDocente] [int] NOT NULL,
	[idTitulo] [int] NOT NULL,
 CONSTRAINT [PK_TituloPorDocente] PRIMARY KEY CLUSTERED 
(
	[legajoDocente] ASC,
	[idTitulo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TituloPorDocente] ([legajoDocente], [idTitulo]) VALUES (10001, 3)
INSERT [dbo].[TituloPorDocente] ([legajoDocente], [idTitulo]) VALUES (10002, 3)
INSERT [dbo].[TituloPorDocente] ([legajoDocente], [idTitulo]) VALUES (10003, 3)
/****** Object:  Table [dbo].[TemarioDictado]    Script Date: 12/20/2014 11:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TemarioDictado](
	[idCurso] [int] NOT NULL,
	[idAsignatura] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[temasClase] [varchar](500) NOT NULL,
	[legajoDocente] [int] NOT NULL,
 CONSTRAINT [PK_TemarioDictado] PRIMARY KEY CLUSTERED 
(
	[idCurso] ASC,
	[idAsignatura] ASC,
	[fecha] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[TemarioDictado] ([idCurso], [idAsignatura], [fecha], [temasClase], [legajoDocente]) VALUES (9, 44, CAST(0xFFFFF82000000000 AS DateTime), N' prueba ', 10003)
INSERT [dbo].[TemarioDictado] ([idCurso], [idAsignatura], [fecha], [temasClase], [legajoDocente]) VALUES (9, 44, CAST(0x0000A3E200000000 AS DateTime), N'Presentacion de la asignatura a los alumnos del curso.', 10003)
INSERT [dbo].[TemarioDictado] ([idCurso], [idAsignatura], [fecha], [temasClase], [legajoDocente]) VALUES (9, 44, CAST(0x0000A3F000000000 AS DateTime), N'ESTO ES UNA PRUEBA', 10003)
/****** Object:  Table [dbo].[SuplenciaDocente]    Script Date: 12/20/2014 11:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SuplenciaDocente](
	[idCurso] [int] NOT NULL,
	[idAsignatura] [int] NOT NULL,
	[diaSemana] [varchar](50) NOT NULL,
	[fechaInicio] [datetime] NOT NULL,
	[fechaFin] [datetime] NOT NULL,
	[legajoDocente] [int] NOT NULL,
 CONSTRAINT [PK_SuplenciaDocente] PRIMARY KEY CLUSTERED 
(
	[idCurso] ASC,
	[idAsignatura] ASC,
	[diaSemana] ASC,
	[fechaInicio] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SancionDisciplinaria]    Script Date: 12/20/2014 11:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SancionDisciplinaria](
	[legajoAlumno] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[hora] [datetime] NOT NULL,
	[sancion] [varchar](50) NOT NULL,
	[motivo] [varchar](50) NOT NULL,
 CONSTRAINT [PK_SancionDisciplinaria] PRIMARY KEY CLUSTERED 
(
	[legajoAlumno] ASC,
	[fecha] ASC,
	[hora] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[SancionDisciplinaria] ([legajoAlumno], [fecha], [hora], [sancion], [motivo]) VALUES (100002, CAST(0x0000A3E300000000 AS DateTime), CAST(0x0000A13900F73140 AS DateTime), N'Comunicado escrito al Tutor', N'Mal comportamiento en clase')
/****** Object:  Table [dbo].[Reincorporacion]    Script Date: 12/20/2014 11:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reincorporacion](
	[cicloLectivo] [int] NOT NULL,
	[legajoAlumno] [int] NOT NULL,
	[reincorporaciones] [int] NOT NULL,
	[fechaUltimaReincorporacion] [datetime] NOT NULL,
 CONSTRAINT [PK_Reincorporacion] PRIMARY KEY CLUSTERED 
(
	[cicloLectivo] ASC,
	[legajoAlumno] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonaAutorizada]    Script Date: 12/20/2014 11:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PersonaAutorizada](
	[idTutor] [int] NOT NULL,
	[nroDocumento] [int] NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[telefono] [varchar](50) NULL,
	[relacion] [varchar](50) NULL,
	[nombre] [varchar](50) NULL,
 CONSTRAINT [PK_PersonaAutorizada] PRIMARY KEY CLUSTERED 
(
	[idTutor] ASC,
	[nroDocumento] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[PersonaAutorizada] ([idTutor], [nroDocumento], [apellido], [telefono], [relacion], [nombre]) VALUES (2, 0, N'', N'', N'', NULL)
INSERT [dbo].[PersonaAutorizada] ([idTutor], [nroDocumento], [apellido], [telefono], [relacion], [nombre]) VALUES (2, 12345679, N'messi', N'123456', N'amante', NULL)
INSERT [dbo].[PersonaAutorizada] ([idTutor], [nroDocumento], [apellido], [telefono], [relacion], [nombre]) VALUES (3, 12345678, N'DiMAria', N'123456', N'amigo', NULL)
/****** Object:  Table [dbo].[PaseEscolar]    Script Date: 12/20/2014 11:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PaseEscolar](
	[legajoAlumno] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[motivo] [varchar](50) NULL,
	[colegioOrigen] [varchar](50) NOT NULL,
	[colegioDestino] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PaseEscolar] PRIMARY KEY CLUSTERED 
(
	[legajoAlumno] ASC,
	[fecha] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ComunicadoWeb]    Script Date: 12/20/2014 11:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ComunicadoWeb](
	[idComunicadoWeb] [int] IDENTITY(1,1) NOT NULL,
	[idCurso] [int] NOT NULL,
	[legajoDocente] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[comunicado] [varchar](200) NOT NULL,
 CONSTRAINT [PK_ComunicadoWeb] PRIMARY KEY CLUSTERED 
(
	[idComunicadoWeb] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ComunicadoWeb] ON
INSERT [dbo].[ComunicadoWeb] ([idComunicadoWeb], [idCurso], [legajoDocente], [fecha], [comunicado]) VALUES (2, 9, 10003, CAST(0x0000A3E100000000 AS DateTime), N'Primer comunicado')
INSERT [dbo].[ComunicadoWeb] ([idComunicadoWeb], [idCurso], [legajoDocente], [fecha], [comunicado]) VALUES (3, 9, 10003, CAST(0x0000A3DA00000000 AS DateTime), N'Segundo comunicado')
INSERT [dbo].[ComunicadoWeb] ([idComunicadoWeb], [idCurso], [legajoDocente], [fecha], [comunicado]) VALUES (4, 9, 10003, CAST(0x0000A3DF00000000 AS DateTime), N'Tercer comunicado')
SET IDENTITY_INSERT [dbo].[ComunicadoWeb] OFF
/****** Object:  Table [dbo].[MatriculaAlumno]    Script Date: 12/20/2014 11:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MatriculaAlumno](
	[idMatriculaAlumno] [int] NOT NULL,
	[legajoAlumno] [int] NOT NULL,
	[cicloLectivo] [int] NOT NULL,
	[idMatricula] [int] NOT NULL,
	[montoCobrado] [money] NOT NULL,
 CONSTRAINT [PK_MatriculaAlumno] PRIMARY KEY CLUSTERED 
(
	[idMatriculaAlumno] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[MatriculaAlumno] ([idMatriculaAlumno], [legajoAlumno], [cicloLectivo], [idMatricula], [montoCobrado]) VALUES (1, 100007, 2014, 3, 170.0000)
/****** Object:  Table [dbo].[MovimientoCaja]    Script Date: 12/20/2014 11:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MovimientoCaja](
	[idCaja] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[idMovimientoCaja] [int] NOT NULL,
	[tipoMovimiento] [varchar](10) NOT NULL,
	[nroComprobante] [varchar](50) NULL,
	[descripcion] [varchar](50) NOT NULL,
	[importe] [money] NOT NULL,
	[idCuotaGrupoFamiliar] [int] NULL,
	[idMatriculaAlumno] [int] NULL,
 CONSTRAINT [PK_MovimientoCaja] PRIMARY KEY CLUSTERED 
(
	[idCaja] ASC,
	[fecha] ASC,
	[idMovimientoCaja] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[MovimientoCaja] ([idCaja], [fecha], [idMovimientoCaja], [tipoMovimiento], [nroComprobante], [descripcion], [importe], [idCuotaGrupoFamiliar], [idMatriculaAlumno]) VALUES (1, CAST(0x0000A3E700000000 AS DateTime), 1, N'Ingreso', N'0000-00000023', N'Cobro de Cuota a Grupo Familiar', 270.0000, 1, NULL)
INSERT [dbo].[MovimientoCaja] ([idCaja], [fecha], [idMovimientoCaja], [tipoMovimiento], [nroComprobante], [descripcion], [importe], [idCuotaGrupoFamiliar], [idMatriculaAlumno]) VALUES (1, CAST(0x0000A3E700000000 AS DateTime), 2, N'Ingreso', N'0000-00000024', N'Cobro de Matrícula a Alumno', 170.0000, NULL, 1)
INSERT [dbo].[MovimientoCaja] ([idCaja], [fecha], [idMovimientoCaja], [tipoMovimiento], [nroComprobante], [descripcion], [importe], [idCuotaGrupoFamiliar], [idMatriculaAlumno]) VALUES (1, CAST(0x0000A3E700000000 AS DateTime), 3, N'Ingreso', N'0000-00000025', N'Cobro de Cuota a Grupo Familiar', 270.0000, 2, NULL)
/****** Object:  Default [DF_Caja_saldo]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[Caja] ADD  CONSTRAINT [DF_Caja_saldo]  DEFAULT ((0)) FOR [saldoInicial]
GO
/****** Object:  ForeignKey [FK_Usuario_PerfilUsuario]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_PerfilUsuario] FOREIGN KEY([idPerfilUsuario])
REFERENCES [dbo].[PerfilUsuario] ([idPerfilUsuario])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_PerfilUsuario]
GO
/****** Object:  ForeignKey [FK_Provincia_Pais]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[ProvinciaEstado]  WITH CHECK ADD  CONSTRAINT [FK_Provincia_Pais] FOREIGN KEY([idPais])
REFERENCES [dbo].[Pais] ([idPais])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProvinciaEstado] CHECK CONSTRAINT [FK_Provincia_Pais]
GO
/****** Object:  ForeignKey [FK_Asignatura_NivelEducativo]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[Asignatura]  WITH CHECK ADD  CONSTRAINT [FK_Asignatura_NivelEducativo] FOREIGN KEY([idNivelEducativo])
REFERENCES [dbo].[NivelEducativo] ([idNivelEducativo])
GO
ALTER TABLE [dbo].[Asignatura] CHECK CONSTRAINT [FK_Asignatura_NivelEducativo]
GO
/****** Object:  ForeignKey [FK_Cargo_NivelEducativo]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[Cargo]  WITH CHECK ADD  CONSTRAINT [FK_Cargo_NivelEducativo] FOREIGN KEY([idNivelEducativo])
REFERENCES [dbo].[NivelEducativo] ([idNivelEducativo])
GO
ALTER TABLE [dbo].[Cargo] CHECK CONSTRAINT [FK_Cargo_NivelEducativo]
GO
/****** Object:  ForeignKey [FK_Aula_Estado]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[Aula]  WITH CHECK ADD  CONSTRAINT [FK_Aula_Estado] FOREIGN KEY([idEstado])
REFERENCES [dbo].[Estado] ([idEstado])
GO
ALTER TABLE [dbo].[Aula] CHECK CONSTRAINT [FK_Aula_Estado]
GO
/****** Object:  ForeignKey [FK_Curso_Aula]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[Curso]  WITH CHECK ADD  CONSTRAINT [FK_Curso_Aula] FOREIGN KEY([idAula])
REFERENCES [dbo].[Aula] ([idAula])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Curso] CHECK CONSTRAINT [FK_Curso_Aula]
GO
/****** Object:  ForeignKey [FK_Curso_CicloLectivo]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[Curso]  WITH CHECK ADD  CONSTRAINT [FK_Curso_CicloLectivo] FOREIGN KEY([cicloLectivo])
REFERENCES [dbo].[CicloLectivo] ([cicloLectivo])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Curso] CHECK CONSTRAINT [FK_Curso_CicloLectivo]
GO
/****** Object:  ForeignKey [FK_Curso_Estado]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[Curso]  WITH CHECK ADD  CONSTRAINT [FK_Curso_Estado] FOREIGN KEY([idEstado])
REFERENCES [dbo].[Estado] ([idEstado])
GO
ALTER TABLE [dbo].[Curso] CHECK CONSTRAINT [FK_Curso_Estado]
GO
/****** Object:  ForeignKey [FK_Curso_NivelEducativo]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[Curso]  WITH CHECK ADD  CONSTRAINT [FK_Curso_NivelEducativo] FOREIGN KEY([idNivelEducativo])
REFERENCES [dbo].[NivelEducativo] ([idNivelEducativo])
GO
ALTER TABLE [dbo].[Curso] CHECK CONSTRAINT [FK_Curso_NivelEducativo]
GO
/****** Object:  ForeignKey [FK_Curso_Turno]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[Curso]  WITH CHECK ADD  CONSTRAINT [FK_Curso_Turno] FOREIGN KEY([idTurno])
REFERENCES [dbo].[Turno] ([idTurno])
GO
ALTER TABLE [dbo].[Curso] CHECK CONSTRAINT [FK_Curso_Turno]
GO
/****** Object:  ForeignKey [FK_Localidad_Provincia]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[Localidad]  WITH CHECK ADD  CONSTRAINT [FK_Localidad_Provincia] FOREIGN KEY([idProvinciaEstado])
REFERENCES [dbo].[ProvinciaEstado] ([idProvinciaEstado])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Localidad] CHECK CONSTRAINT [FK_Localidad_Provincia]
GO
/****** Object:  ForeignKey [FK_Barrio_Localidad]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[Barrio]  WITH CHECK ADD  CONSTRAINT [FK_Barrio_Localidad] FOREIGN KEY([idLocalidad])
REFERENCES [dbo].[Localidad] ([idLocalidad])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Barrio] CHECK CONSTRAINT [FK_Barrio_Localidad]
GO
/****** Object:  ForeignKey [FK_Domicilio_Barrio]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[Domicilio]  WITH CHECK ADD  CONSTRAINT [FK_Domicilio_Barrio] FOREIGN KEY([idBarrio])
REFERENCES [dbo].[Barrio] ([idBarrio])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Domicilio] CHECK CONSTRAINT [FK_Domicilio_Barrio]
GO
/****** Object:  ForeignKey [FK_PersonalMaestranza_Domicilio]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[PersonalMaestranza]  WITH CHECK ADD  CONSTRAINT [FK_PersonalMaestranza_Domicilio] FOREIGN KEY([idDomicilio])
REFERENCES [dbo].[Domicilio] ([idDomicilio])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PersonalMaestranza] CHECK CONSTRAINT [FK_PersonalMaestranza_Domicilio]
GO
/****** Object:  ForeignKey [FK_PersonalMaestranza_Estado]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[PersonalMaestranza]  WITH CHECK ADD  CONSTRAINT [FK_PersonalMaestranza_Estado] FOREIGN KEY([idEstadoCivil])
REFERENCES [dbo].[Estado] ([idEstado])
GO
ALTER TABLE [dbo].[PersonalMaestranza] CHECK CONSTRAINT [FK_PersonalMaestranza_Estado]
GO
/****** Object:  ForeignKey [FK_PersonalMaestranza_EstadoCivil]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[PersonalMaestranza]  WITH CHECK ADD  CONSTRAINT [FK_PersonalMaestranza_EstadoCivil] FOREIGN KEY([idEstadoCivil])
REFERENCES [dbo].[Estado] ([idEstado])
GO
ALTER TABLE [dbo].[PersonalMaestranza] CHECK CONSTRAINT [FK_PersonalMaestranza_EstadoCivil]
GO
/****** Object:  ForeignKey [FK_PersonalMaestranza_PuestoTrabajo]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[PersonalMaestranza]  WITH CHECK ADD  CONSTRAINT [FK_PersonalMaestranza_PuestoTrabajo] FOREIGN KEY([idPuestoTrabajo])
REFERENCES [dbo].[PuestoTrabajo] ([idPuestoTrabajo])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PersonalMaestranza] CHECK CONSTRAINT [FK_PersonalMaestranza_PuestoTrabajo]
GO
/****** Object:  ForeignKey [FK_PersonalMaestranza_Usuario]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[PersonalMaestranza]  WITH CHECK ADD  CONSTRAINT [FK_PersonalMaestranza_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([idUsuario])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PersonalMaestranza] CHECK CONSTRAINT [FK_PersonalMaestranza_Usuario]
GO
/****** Object:  ForeignKey [FK_Tutor_Domicilio]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[Tutor]  WITH CHECK ADD  CONSTRAINT [FK_Tutor_Domicilio] FOREIGN KEY([idDomicilio])
REFERENCES [dbo].[Domicilio] ([idDomicilio])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tutor] CHECK CONSTRAINT [FK_Tutor_Domicilio]
GO
/****** Object:  ForeignKey [FK_Tutor_EstadoCivil]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[Tutor]  WITH CHECK ADD  CONSTRAINT [FK_Tutor_EstadoCivil] FOREIGN KEY([idEstadoCivil])
REFERENCES [dbo].[Estado] ([idEstado])
GO
ALTER TABLE [dbo].[Tutor] CHECK CONSTRAINT [FK_Tutor_EstadoCivil]
GO
/****** Object:  ForeignKey [FK_Alumno_Domicilio]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[Alumno]  WITH CHECK ADD  CONSTRAINT [FK_Alumno_Domicilio] FOREIGN KEY([idDomicilio])
REFERENCES [dbo].[Domicilio] ([idDomicilio])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Alumno] CHECK CONSTRAINT [FK_Alumno_Domicilio]
GO
/****** Object:  ForeignKey [FK_Alumno_Estado]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[Alumno]  WITH CHECK ADD  CONSTRAINT [FK_Alumno_Estado] FOREIGN KEY([idEstado])
REFERENCES [dbo].[Estado] ([idEstado])
GO
ALTER TABLE [dbo].[Alumno] CHECK CONSTRAINT [FK_Alumno_Estado]
GO
/****** Object:  ForeignKey [FK_Alumno_Usuario]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[Alumno]  WITH CHECK ADD  CONSTRAINT [FK_Alumno_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([idUsuario])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Alumno] CHECK CONSTRAINT [FK_Alumno_Usuario]
GO
/****** Object:  ForeignKey [FK_Docente_Domicilio]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[Docente]  WITH CHECK ADD  CONSTRAINT [FK_Docente_Domicilio] FOREIGN KEY([idDomicilio])
REFERENCES [dbo].[Domicilio] ([idDomicilio])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Docente] CHECK CONSTRAINT [FK_Docente_Domicilio]
GO
/****** Object:  ForeignKey [FK_Docente_Estado]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[Docente]  WITH CHECK ADD  CONSTRAINT [FK_Docente_Estado] FOREIGN KEY([idEstado])
REFERENCES [dbo].[Estado] ([idEstado])
GO
ALTER TABLE [dbo].[Docente] CHECK CONSTRAINT [FK_Docente_Estado]
GO
/****** Object:  ForeignKey [FK_Docente_EstadoCivil]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[Docente]  WITH CHECK ADD  CONSTRAINT [FK_Docente_EstadoCivil] FOREIGN KEY([idEstadoCivil])
REFERENCES [dbo].[Estado] ([idEstado])
GO
ALTER TABLE [dbo].[Docente] CHECK CONSTRAINT [FK_Docente_EstadoCivil]
GO
/****** Object:  ForeignKey [FK_Docente_SituacionRevista]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[Docente]  WITH CHECK ADD  CONSTRAINT [FK_Docente_SituacionRevista] FOREIGN KEY([idSituacionRevista])
REFERENCES [dbo].[SituacionRevista] ([idSituacionRevista])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Docente] CHECK CONSTRAINT [FK_Docente_SituacionRevista]
GO
/****** Object:  ForeignKey [FK_Docente_Usuario]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[Docente]  WITH CHECK ADD  CONSTRAINT [FK_Docente_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([idUsuario])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Docente] CHECK CONSTRAINT [FK_Docente_Usuario]
GO
/****** Object:  ForeignKey [FK_LicenciaPersonalMaestranza_PersonalMaestranza]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[LicenciaPersonalMaestranza]  WITH CHECK ADD  CONSTRAINT [FK_LicenciaPersonalMaestranza_PersonalMaestranza] FOREIGN KEY([legajoPersonalMaestranza])
REFERENCES [dbo].[PersonalMaestranza] ([legajoPersonalMaestranza])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LicenciaPersonalMaestranza] CHECK CONSTRAINT [FK_LicenciaPersonalMaestranza_PersonalMaestranza]
GO
/****** Object:  ForeignKey [FK_LicenciaDocente_Docente]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[LicenciaDocente]  WITH CHECK ADD  CONSTRAINT [FK_LicenciaDocente_Docente] FOREIGN KEY([legajoDocente])
REFERENCES [dbo].[Docente] ([legajoDocente])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LicenciaDocente] CHECK CONSTRAINT [FK_LicenciaDocente_Docente]
GO
/****** Object:  ForeignKey [FK_LicenciaDocente_MovimientoAltaBaja]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[LicenciaDocente]  WITH CHECK ADD  CONSTRAINT [FK_LicenciaDocente_MovimientoAltaBaja] FOREIGN KEY([idMovimientoAltaBaja])
REFERENCES [dbo].[MovimientoAltaBaja] ([idMovimientoAltaBaja])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LicenciaDocente] CHECK CONSTRAINT [FK_LicenciaDocente_MovimientoAltaBaja]
GO
/****** Object:  ForeignKey [FK_Inscripcion_Alumno]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[Inscripcion]  WITH CHECK ADD  CONSTRAINT [FK_Inscripcion_Alumno] FOREIGN KEY([legajoAlumno])
REFERENCES [dbo].[Alumno] ([legajoAlumno])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Inscripcion] CHECK CONSTRAINT [FK_Inscripcion_Alumno]
GO
/****** Object:  ForeignKey [FK_Inscripcion_Curso]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[Inscripcion]  WITH CHECK ADD  CONSTRAINT [FK_Inscripcion_Curso] FOREIGN KEY([idCurso])
REFERENCES [dbo].[Curso] ([idCurso])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Inscripcion] CHECK CONSTRAINT [FK_Inscripcion_Curso]
GO
/****** Object:  ForeignKey [FK_HorarioPersonalMaestranza_CicloLectivo]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[HorarioPersonalMaestranza]  WITH CHECK ADD  CONSTRAINT [FK_HorarioPersonalMaestranza_CicloLectivo] FOREIGN KEY([cicloLectivo])
REFERENCES [dbo].[CicloLectivo] ([cicloLectivo])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HorarioPersonalMaestranza] CHECK CONSTRAINT [FK_HorarioPersonalMaestranza_CicloLectivo]
GO
/****** Object:  ForeignKey [FK_HorarioPersonalMaestranza_PersonalMaestranza]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[HorarioPersonalMaestranza]  WITH CHECK ADD  CONSTRAINT [FK_HorarioPersonalMaestranza_PersonalMaestranza] FOREIGN KEY([legajoPersonalMaestranza])
REFERENCES [dbo].[PersonalMaestranza] ([legajoPersonalMaestranza])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HorarioPersonalMaestranza] CHECK CONSTRAINT [FK_HorarioPersonalMaestranza_PersonalMaestranza]
GO
/****** Object:  ForeignKey [FK_HorarioCurso_Asignatura]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[HorarioCurso]  WITH CHECK ADD  CONSTRAINT [FK_HorarioCurso_Asignatura] FOREIGN KEY([idAsignatura])
REFERENCES [dbo].[Asignatura] ([idAsignatura])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HorarioCurso] CHECK CONSTRAINT [FK_HorarioCurso_Asignatura]
GO
/****** Object:  ForeignKey [FK_HorarioCurso_Curso]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[HorarioCurso]  WITH CHECK ADD  CONSTRAINT [FK_HorarioCurso_Curso] FOREIGN KEY([idCurso])
REFERENCES [dbo].[Curso] ([idCurso])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HorarioCurso] CHECK CONSTRAINT [FK_HorarioCurso_Curso]
GO
/****** Object:  ForeignKey [FK_HorarioCurso_Docente]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[HorarioCurso]  WITH CHECK ADD  CONSTRAINT [FK_HorarioCurso_Docente] FOREIGN KEY([legajoDocente])
REFERENCES [dbo].[Docente] ([legajoDocente])
GO
ALTER TABLE [dbo].[HorarioCurso] CHECK CONSTRAINT [FK_HorarioCurso_Docente]
GO
/****** Object:  ForeignKey [FK_GrupoFamiliar_Alumno]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[GrupoFamiliar]  WITH CHECK ADD  CONSTRAINT [FK_GrupoFamiliar_Alumno] FOREIGN KEY([legajoAlumno])
REFERENCES [dbo].[Alumno] ([legajoAlumno])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GrupoFamiliar] CHECK CONSTRAINT [FK_GrupoFamiliar_Alumno]
GO
/****** Object:  ForeignKey [FK_GrupoFamiliar_Tutor]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[GrupoFamiliar]  WITH CHECK ADD  CONSTRAINT [FK_GrupoFamiliar_Tutor] FOREIGN KEY([idTutor])
REFERENCES [dbo].[Tutor] ([idTutor])
GO
ALTER TABLE [dbo].[GrupoFamiliar] CHECK CONSTRAINT [FK_GrupoFamiliar_Tutor]
GO
/****** Object:  ForeignKey [FK_CuotaGrupoFamiliar_CicloLectivo]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[CuotaGrupoFamiliar]  WITH CHECK ADD  CONSTRAINT [FK_CuotaGrupoFamiliar_CicloLectivo] FOREIGN KEY([cicloLectivo])
REFERENCES [dbo].[CicloLectivo] ([cicloLectivo])
GO
ALTER TABLE [dbo].[CuotaGrupoFamiliar] CHECK CONSTRAINT [FK_CuotaGrupoFamiliar_CicloLectivo]
GO
/****** Object:  ForeignKey [FK_CuotaGrupoFamiliar_Cuota]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[CuotaGrupoFamiliar]  WITH CHECK ADD  CONSTRAINT [FK_CuotaGrupoFamiliar_Cuota] FOREIGN KEY([idCuota])
REFERENCES [dbo].[Cuota] ([idCuota])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CuotaGrupoFamiliar] CHECK CONSTRAINT [FK_CuotaGrupoFamiliar_Cuota]
GO
/****** Object:  ForeignKey [FK_CuotaGrupoFamiliar_Tutor]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[CuotaGrupoFamiliar]  WITH CHECK ADD  CONSTRAINT [FK_CuotaGrupoFamiliar_Tutor] FOREIGN KEY([idTutor])
REFERENCES [dbo].[Tutor] ([idTutor])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CuotaGrupoFamiliar] CHECK CONSTRAINT [FK_CuotaGrupoFamiliar_Tutor]
GO
/****** Object:  ForeignKey [FK_CargoPorDocente_Cargo]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[CargoPorDocente]  WITH CHECK ADD  CONSTRAINT [FK_CargoPorDocente_Cargo] FOREIGN KEY([idCargo])
REFERENCES [dbo].[Cargo] ([idCargo])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CargoPorDocente] CHECK CONSTRAINT [FK_CargoPorDocente_Cargo]
GO
/****** Object:  ForeignKey [FK_CargoPorDocente_Docente]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[CargoPorDocente]  WITH CHECK ADD  CONSTRAINT [FK_CargoPorDocente_Docente] FOREIGN KEY([legajoDocente])
REFERENCES [dbo].[Docente] ([legajoDocente])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CargoPorDocente] CHECK CONSTRAINT [FK_CargoPorDocente_Docente]
GO
/****** Object:  ForeignKey [FK_CalificacionEscolar_Alumno]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[CalificacionEscolar]  WITH CHECK ADD  CONSTRAINT [FK_CalificacionEscolar_Alumno] FOREIGN KEY([legajoAlumno])
REFERENCES [dbo].[Alumno] ([legajoAlumno])
GO
ALTER TABLE [dbo].[CalificacionEscolar] CHECK CONSTRAINT [FK_CalificacionEscolar_Alumno]
GO
/****** Object:  ForeignKey [FK_CalificacionEscolar_Asignatura]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[CalificacionEscolar]  WITH CHECK ADD  CONSTRAINT [FK_CalificacionEscolar_Asignatura] FOREIGN KEY([idAsignatura])
REFERENCES [dbo].[Asignatura] ([idAsignatura])
GO
ALTER TABLE [dbo].[CalificacionEscolar] CHECK CONSTRAINT [FK_CalificacionEscolar_Asignatura]
GO
/****** Object:  ForeignKey [FK_CalificacionEscolar_Curso]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[CalificacionEscolar]  WITH CHECK ADD  CONSTRAINT [FK_CalificacionEscolar_Curso] FOREIGN KEY([idCurso])
REFERENCES [dbo].[Curso] ([idCurso])
GO
ALTER TABLE [dbo].[CalificacionEscolar] CHECK CONSTRAINT [FK_CalificacionEscolar_Curso]
GO
/****** Object:  ForeignKey [FK_BecaEstudiantil_Alumno]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[BecaEstudiantil]  WITH CHECK ADD  CONSTRAINT [FK_BecaEstudiantil_Alumno] FOREIGN KEY([legajoAlumno])
REFERENCES [dbo].[Alumno] ([legajoAlumno])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BecaEstudiantil] CHECK CONSTRAINT [FK_BecaEstudiantil_Alumno]
GO
/****** Object:  ForeignKey [FK_BajaPersonalMaestranza_PersonalMaestranza]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[BajaPersonalMaestranza]  WITH CHECK ADD  CONSTRAINT [FK_BajaPersonalMaestranza_PersonalMaestranza] FOREIGN KEY([legajoPersonalMaestranza])
REFERENCES [dbo].[PersonalMaestranza] ([legajoPersonalMaestranza])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BajaPersonalMaestranza] CHECK CONSTRAINT [FK_BajaPersonalMaestranza_PersonalMaestranza]
GO
/****** Object:  ForeignKey [FK_BajaDocente_Docente]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[BajaDocente]  WITH CHECK ADD  CONSTRAINT [FK_BajaDocente_Docente] FOREIGN KEY([legajoDocente])
REFERENCES [dbo].[Docente] ([legajoDocente])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BajaDocente] CHECK CONSTRAINT [FK_BajaDocente_Docente]
GO
/****** Object:  ForeignKey [FK_BajaAlumno_Alumno]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[BajaAlumno]  WITH CHECK ADD  CONSTRAINT [FK_BajaAlumno_Alumno] FOREIGN KEY([legajoAlumno])
REFERENCES [dbo].[Alumno] ([legajoAlumno])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BajaAlumno] CHECK CONSTRAINT [FK_BajaAlumno_Alumno]
GO
/****** Object:  ForeignKey [FK_AsistenciaPersonalMaestranza_PersonalMaestranza]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[AsistenciaPersonalMaestranza]  WITH CHECK ADD  CONSTRAINT [FK_AsistenciaPersonalMaestranza_PersonalMaestranza] FOREIGN KEY([legajoPersonalMaestranza])
REFERENCES [dbo].[PersonalMaestranza] ([legajoPersonalMaestranza])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AsistenciaPersonalMaestranza] CHECK CONSTRAINT [FK_AsistenciaPersonalMaestranza_PersonalMaestranza]
GO
/****** Object:  ForeignKey [FK_AsistenciaDocente_Asistencia]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[AsistenciaDocente]  WITH CHECK ADD  CONSTRAINT [FK_AsistenciaDocente_Asistencia] FOREIGN KEY([idAsignatura])
REFERENCES [dbo].[Asignatura] ([idAsignatura])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AsistenciaDocente] CHECK CONSTRAINT [FK_AsistenciaDocente_Asistencia]
GO
/****** Object:  ForeignKey [FK_AsistenciaDocente_Curso]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[AsistenciaDocente]  WITH CHECK ADD  CONSTRAINT [FK_AsistenciaDocente_Curso] FOREIGN KEY([idCurso])
REFERENCES [dbo].[Curso] ([idCurso])
GO
ALTER TABLE [dbo].[AsistenciaDocente] CHECK CONSTRAINT [FK_AsistenciaDocente_Curso]
GO
/****** Object:  ForeignKey [FK_AsistenciaDocente_Docente]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[AsistenciaDocente]  WITH CHECK ADD  CONSTRAINT [FK_AsistenciaDocente_Docente] FOREIGN KEY([legajoDocente])
REFERENCES [dbo].[Docente] ([legajoDocente])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AsistenciaDocente] CHECK CONSTRAINT [FK_AsistenciaDocente_Docente]
GO
/****** Object:  ForeignKey [FK_AsistenciaDocente_MovimientoAltaBaja]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[AsistenciaDocente]  WITH CHECK ADD  CONSTRAINT [FK_AsistenciaDocente_MovimientoAltaBaja] FOREIGN KEY([idMovimientoAltaBaja])
REFERENCES [dbo].[MovimientoAltaBaja] ([idMovimientoAltaBaja])
GO
ALTER TABLE [dbo].[AsistenciaDocente] CHECK CONSTRAINT [FK_AsistenciaDocente_MovimientoAltaBaja]
GO
/****** Object:  ForeignKey [FK_AsistenciaAlumno_Alumno]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[AsistenciaAlumno]  WITH CHECK ADD  CONSTRAINT [FK_AsistenciaAlumno_Alumno] FOREIGN KEY([legajoAlumno])
REFERENCES [dbo].[Alumno] ([legajoAlumno])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AsistenciaAlumno] CHECK CONSTRAINT [FK_AsistenciaAlumno_Alumno]
GO
/****** Object:  ForeignKey [FK_AsignaturaPorDocente_Asignatura]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[AsignaturaPorDocente]  WITH CHECK ADD  CONSTRAINT [FK_AsignaturaPorDocente_Asignatura] FOREIGN KEY([idAsignatura])
REFERENCES [dbo].[Asignatura] ([idAsignatura])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AsignaturaPorDocente] CHECK CONSTRAINT [FK_AsignaturaPorDocente_Asignatura]
GO
/****** Object:  ForeignKey [FK_AsignaturaPorDocente_Docente]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[AsignaturaPorDocente]  WITH CHECK ADD  CONSTRAINT [FK_AsignaturaPorDocente_Docente] FOREIGN KEY([legajoDocente])
REFERENCES [dbo].[Docente] ([legajoDocente])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AsignaturaPorDocente] CHECK CONSTRAINT [FK_AsignaturaPorDocente_Docente]
GO
/****** Object:  ForeignKey [FK_TituloPorDocente_Docente]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[TituloPorDocente]  WITH CHECK ADD  CONSTRAINT [FK_TituloPorDocente_Docente] FOREIGN KEY([legajoDocente])
REFERENCES [dbo].[Docente] ([legajoDocente])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TituloPorDocente] CHECK CONSTRAINT [FK_TituloPorDocente_Docente]
GO
/****** Object:  ForeignKey [FK_TituloPorDocente_Titulo]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[TituloPorDocente]  WITH CHECK ADD  CONSTRAINT [FK_TituloPorDocente_Titulo] FOREIGN KEY([idTitulo])
REFERENCES [dbo].[Titulo] ([idTitulo])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TituloPorDocente] CHECK CONSTRAINT [FK_TituloPorDocente_Titulo]
GO
/****** Object:  ForeignKey [FK_TemarioDictado_Asignatura]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[TemarioDictado]  WITH CHECK ADD  CONSTRAINT [FK_TemarioDictado_Asignatura] FOREIGN KEY([idAsignatura])
REFERENCES [dbo].[Asignatura] ([idAsignatura])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TemarioDictado] CHECK CONSTRAINT [FK_TemarioDictado_Asignatura]
GO
/****** Object:  ForeignKey [FK_TemarioDictado_Curso]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[TemarioDictado]  WITH CHECK ADD  CONSTRAINT [FK_TemarioDictado_Curso] FOREIGN KEY([idCurso])
REFERENCES [dbo].[Curso] ([idCurso])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TemarioDictado] CHECK CONSTRAINT [FK_TemarioDictado_Curso]
GO
/****** Object:  ForeignKey [FK_TemarioDictado_Docente]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[TemarioDictado]  WITH CHECK ADD  CONSTRAINT [FK_TemarioDictado_Docente] FOREIGN KEY([legajoDocente])
REFERENCES [dbo].[Docente] ([legajoDocente])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TemarioDictado] CHECK CONSTRAINT [FK_TemarioDictado_Docente]
GO
/****** Object:  ForeignKey [FK_SuplenciaDocente_Asignatura]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[SuplenciaDocente]  WITH CHECK ADD  CONSTRAINT [FK_SuplenciaDocente_Asignatura] FOREIGN KEY([idAsignatura])
REFERENCES [dbo].[Asignatura] ([idAsignatura])
GO
ALTER TABLE [dbo].[SuplenciaDocente] CHECK CONSTRAINT [FK_SuplenciaDocente_Asignatura]
GO
/****** Object:  ForeignKey [FK_SuplenciaDocente_Curso]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[SuplenciaDocente]  WITH CHECK ADD  CONSTRAINT [FK_SuplenciaDocente_Curso] FOREIGN KEY([idCurso])
REFERENCES [dbo].[Curso] ([idCurso])
GO
ALTER TABLE [dbo].[SuplenciaDocente] CHECK CONSTRAINT [FK_SuplenciaDocente_Curso]
GO
/****** Object:  ForeignKey [FK_SuplenciaDocente_Docente]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[SuplenciaDocente]  WITH CHECK ADD  CONSTRAINT [FK_SuplenciaDocente_Docente] FOREIGN KEY([legajoDocente])
REFERENCES [dbo].[Docente] ([legajoDocente])
GO
ALTER TABLE [dbo].[SuplenciaDocente] CHECK CONSTRAINT [FK_SuplenciaDocente_Docente]
GO
/****** Object:  ForeignKey [FK_Sancion_Alumno]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[SancionDisciplinaria]  WITH CHECK ADD  CONSTRAINT [FK_Sancion_Alumno] FOREIGN KEY([legajoAlumno])
REFERENCES [dbo].[Alumno] ([legajoAlumno])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SancionDisciplinaria] CHECK CONSTRAINT [FK_Sancion_Alumno]
GO
/****** Object:  ForeignKey [FK_Reincorporacion_Alumno]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[Reincorporacion]  WITH CHECK ADD  CONSTRAINT [FK_Reincorporacion_Alumno] FOREIGN KEY([legajoAlumno])
REFERENCES [dbo].[Alumno] ([legajoAlumno])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reincorporacion] CHECK CONSTRAINT [FK_Reincorporacion_Alumno]
GO
/****** Object:  ForeignKey [FK_Reincorporacion_CicloLectivo]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[Reincorporacion]  WITH CHECK ADD  CONSTRAINT [FK_Reincorporacion_CicloLectivo] FOREIGN KEY([cicloLectivo])
REFERENCES [dbo].[CicloLectivo] ([cicloLectivo])
GO
ALTER TABLE [dbo].[Reincorporacion] CHECK CONSTRAINT [FK_Reincorporacion_CicloLectivo]
GO
/****** Object:  ForeignKey [FK_PersonaAutorizada_Tutor]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[PersonaAutorizada]  WITH CHECK ADD  CONSTRAINT [FK_PersonaAutorizada_Tutor] FOREIGN KEY([idTutor])
REFERENCES [dbo].[Tutor] ([idTutor])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PersonaAutorizada] CHECK CONSTRAINT [FK_PersonaAutorizada_Tutor]
GO
/****** Object:  ForeignKey [FK_PaseEscolar_Alumno]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[PaseEscolar]  WITH CHECK ADD  CONSTRAINT [FK_PaseEscolar_Alumno] FOREIGN KEY([legajoAlumno])
REFERENCES [dbo].[Alumno] ([legajoAlumno])
GO
ALTER TABLE [dbo].[PaseEscolar] CHECK CONSTRAINT [FK_PaseEscolar_Alumno]
GO
/****** Object:  ForeignKey [FK_ComunicadoWeb_Curso]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[ComunicadoWeb]  WITH CHECK ADD  CONSTRAINT [FK_ComunicadoWeb_Curso] FOREIGN KEY([idCurso])
REFERENCES [dbo].[Curso] ([idCurso])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ComunicadoWeb] CHECK CONSTRAINT [FK_ComunicadoWeb_Curso]
GO
/****** Object:  ForeignKey [FK_ComunicadoWeb_Docente]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[ComunicadoWeb]  WITH CHECK ADD  CONSTRAINT [FK_ComunicadoWeb_Docente] FOREIGN KEY([legajoDocente])
REFERENCES [dbo].[Docente] ([legajoDocente])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ComunicadoWeb] CHECK CONSTRAINT [FK_ComunicadoWeb_Docente]
GO
/****** Object:  ForeignKey [FK_MatriculaAlumno_Alumno]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[MatriculaAlumno]  WITH CHECK ADD  CONSTRAINT [FK_MatriculaAlumno_Alumno] FOREIGN KEY([legajoAlumno])
REFERENCES [dbo].[Alumno] ([legajoAlumno])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MatriculaAlumno] CHECK CONSTRAINT [FK_MatriculaAlumno_Alumno]
GO
/****** Object:  ForeignKey [FK_MatriculaAlumno_CicloLectivo]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[MatriculaAlumno]  WITH CHECK ADD  CONSTRAINT [FK_MatriculaAlumno_CicloLectivo] FOREIGN KEY([cicloLectivo])
REFERENCES [dbo].[CicloLectivo] ([cicloLectivo])
GO
ALTER TABLE [dbo].[MatriculaAlumno] CHECK CONSTRAINT [FK_MatriculaAlumno_CicloLectivo]
GO
/****** Object:  ForeignKey [FK_MatriculaAlumno_Matricula]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[MatriculaAlumno]  WITH CHECK ADD  CONSTRAINT [FK_MatriculaAlumno_Matricula] FOREIGN KEY([idMatricula])
REFERENCES [dbo].[Matricula] ([idMatricula])
GO
ALTER TABLE [dbo].[MatriculaAlumno] CHECK CONSTRAINT [FK_MatriculaAlumno_Matricula]
GO
/****** Object:  ForeignKey [FK_MovimientoCaja_Caja]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[MovimientoCaja]  WITH CHECK ADD  CONSTRAINT [FK_MovimientoCaja_Caja] FOREIGN KEY([idCaja])
REFERENCES [dbo].[Caja] ([idCaja])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MovimientoCaja] CHECK CONSTRAINT [FK_MovimientoCaja_Caja]
GO
/****** Object:  ForeignKey [FK_MovimientoCaja_CuotaGrupoFamiliar]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[MovimientoCaja]  WITH CHECK ADD  CONSTRAINT [FK_MovimientoCaja_CuotaGrupoFamiliar] FOREIGN KEY([idCuotaGrupoFamiliar])
REFERENCES [dbo].[CuotaGrupoFamiliar] ([idCuotaGrupoFamiliar])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MovimientoCaja] CHECK CONSTRAINT [FK_MovimientoCaja_CuotaGrupoFamiliar]
GO
/****** Object:  ForeignKey [FK_MovimientoCaja_MatriculaAlumno]    Script Date: 12/20/2014 11:19:58 ******/
ALTER TABLE [dbo].[MovimientoCaja]  WITH CHECK ADD  CONSTRAINT [FK_MovimientoCaja_MatriculaAlumno] FOREIGN KEY([idMatriculaAlumno])
REFERENCES [dbo].[MatriculaAlumno] ([idMatriculaAlumno])
GO
ALTER TABLE [dbo].[MovimientoCaja] CHECK CONSTRAINT [FK_MovimientoCaja_MatriculaAlumno]
GO
